.home-page {

    &__menu {
        height: 80px;

        &.m--sticky {
            position: fixed;
            top: 0;
            left: 0;
            margin-top: 0;
            z-index: 100;
            width: 100%;
            height: 45px;
        }

        &.m--short {
            display: none;
        }
    }

	&__advantages {
		margin-top: 60px;
	}

	&__stocks-news {
        margin-top: 60px;
        
        display: flex;
        justify-content: space-between;
    }

    &__stocks {
        display: flex;
        flex-direction: column;
        flex-basis: 60%;
        order: 0;
    }

    &__news {}

    &__catalog {
    	margin-top: 60px;
    }

    @mixin responsive-le-970 {

    	&__stocks-news {            
	        flex-direction: column;
            margin: 0;
	    }

	    &__news {
	    	margin-top: 40px;
	    } 
    }

    @mixin responsive-le-480 {

        &__menu {

            &.m--long {
                display: none;
            }

            &.m--short {
                display: block;
            }
        }
    }
}
