.lombard-cat {
	
	&__container {
		@mixin container--large;
	}

	&__header {}

	&__main {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		margin-top: 40px;
		margin-bottom: 40px;
	}

	&__side {
		
		&-content {
			display: flex;
			flex-direction: column;
			position: relative;
		}
	}

	&__text {}

	&__filters {

		&.m--mobile {
			display: none;
		}
	}

	&__lombards {
		width: 100%;
	}

	@mixin responsive-ge-1024 {

		&__side {

			&-content {
				max-width: 284px;
			}
		}

		&__lombards {
			@mixin margin-left 1.2;
		}
	}

	@mixin responsive-le-970 {
		display: flex;
		flex-flow: row wrap;

		&__main {
			flex-direction: column;
		}
	}

	@mixin responsive-le-640 {

		&__filters {
			flex-basis: 100%;

			&.m--mobile {
				display: block;
				width: 100%;
			}
		}
	}
}