.lombard-page {
	
	&__container {
		@mixin container;
	}

	&__header {
		background-color: $color-bright-yellow;
		display: inline-block;
		padding: 8px;
		text-transform: unset;
	}

	&__main {
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	&__item {}

	&__location {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 40px;
	}

	&__address {
		display: flex;
		align-items: center;
		height: 36px;
		position: relative;
		padding-left: 40px;
		font-size: 18px;
		margin: auto;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			width: 36px;
			height: 36px;
			background-image: url('$(dir-icons)/icon_placemark.svg');
			background-position: center center;
			background-size: contain;
			background-repeat: no-repeat;
		}
	}

	&__map {
		width: 100%;
		height: 520px;
		border-top: 4px solid $color-deep-blue;
		border-bottom: 4px solid $color-deep-blue;
		margin-top: 16px;
		margin-bottom: 24px;
	}

	&__link {
		@mixin link--red-underline;

		font-size: 18px;
		margin: 0 auto;
	
		&:hover {
			@mixin link--red;		
		}
	}

	@mixin responsive-le-640 {

		&__map {
			height: 400px;
		}
	}
}
