.prod-group {
	
	&__container {
		@mixin container--large;
	}

	&__header {
		text-transform: uppercase;
	}

	&__main {
		display: flex;
		justify-content: space-between;
		position: relative;
		margin-top: 40px;
	}

	&__side {
		
		&-content {
			display: flex;
			flex-direction: column;
			position: relative;
		}
	}

	&__filters {

		&.m--mobile {
			display: none;
		}
	}

	&__stocks {
		margin-top: 40px;
	}

	&__catalog {
		display: flex;
		flex-flow: row wrap;
		justify-content: right;
	}

	@mixin responsive-ge-1024 {

		&__side {

			&-content {
				max-width: 284px;
			}
		}
	}

	@mixin responsive-le-970 {

		&__main {
			flex-flow: column;
		}

		&__stocks {
			display: none;
		}

		&__catalog {
			justify-content: center;
		}
	}

	@mixin responsive-le-640 {

		&__filters {

			&.m--mobile {
				display: block;
				width: 100%;
			}
		}
	}
}