.prod-page {

	&__container { 
		@mixin container--large;
	} 

	&__header {
		text-align: center;
		text-transform: uppercase;
	}

	&__main {
		@mixin margin-top 1;

		display: flex;
		flex-flow: row wrap;
		flex-direction: column;
		position: relative;
	}

	&__catalog {
		@mixin container--large;

		margin-top: 40px;
	}

	@mixin responsive-le-640 {

		&__header {
			text-align: center;
		}
	}
}
