.stocks-news-page {

	&__container {
		@mixin container--large;
	} 

	&__header {
		text-transform: uppercase;
	}

	&__main {
		position: relative;
		display: flex;
		justify-content: space-between;
		margin-left: auto;
		margin-right: auto; 
	}

	&__stocks {
		display: flex;
		flex-basis: 60%;
		order: 0;
		margin-top: 0;
	}

	&__news {
		display: flex;
		flex-direction: column;
		flex-basis: 37%;
		order: 1;
		padding-left: 28px;
	}

	@mixin responsive-970 {

		&__stocks {
			flex-basis: 40%;
		}

		&__news {
			flex-basis: 56%;
			padding-left: 20px;
		}
	}

	@mixin responsive-ge-768 {

		&__stocks {
			flex-direction: column;
		}

		&__news {
			border-left: 2px solid $color-deep-blue;	
		} 
	}

	@mixin responsive-768 {

		&__stocks {
			flex-basis: 40%;
		}

		&__news {
			flex-basis: 56%;
			padding-left: 20px;
		}
	}

	@mixin responsive-le-640 {

		&__main {
			flex-direction: column;
		}

		&__news {
			margin-top: 40px;
			padding-left: 0px;
		}
	}
}
