.stock-page {
	
	&__container {
		@mixin container--large;
	}

	&__header {
		background-color: $color-bright-yellow;
		display: inline-block;
		padding: 8px;
		text-transform: uppercase;
	}

	&__main {
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	&__block {
		position: relative;
	}

	&__image {
		position: relative;
		max-width: 370px;
		float: left;
		margin-right: 24px;
		margin-bottom: 24px;
	}

	&__img {
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
		object-fit: contain;
	}

	&__content {
		position: relative;
	}

	&__address {}

	&__lombards {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-top: 56px;
	}

	@mixin responsive-le-768 {

		&__block {
			display: flex;
			flex-direction: column;
		}

		&__image {
			display: flex;
			justify-content: center;
			max-width: 100%;
			margin: 0 auto;
			margin-bottom: 30px;
		}

		&__content {
			display: flex;
			flex-direction: column;
		}
	}
}