/* Директории с картинками */
$dir-i: /i;
$dir-icons: $dir-i/icons;
$dir-images: $dir-i/images;

/* Стандартные цвета */
$color-black: #000000;
$color-white: #ffffff;
$color-bright-yellow: #fff226;
$color-pale-yellow: #fffcd5;
$color-deep-blue: #001f43;
$color-grayish-blue: #29384a;
$color-bright-red: #ff4852;

/* Шрифты */
$font-family-sourcesanspro: 'Source Sans Pro', sans-serif;

/* Начертания шрифтов */
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;

/* Заголовки */
$font-size-h1: 42px;
$font-size-h2: 35px;
$font-size-h3: 26px;
$font-size-h4: 20px;
$font-size-h1-le-1200: 35px;
$font-size-h2-le-1200: 26px; 
$font-size-h3-le-1200: 20px;
$font-size-h4-le-1200: 16px;
$font-size-h1-le-768: 26px; 

/* Базовый шрифт */
$font-family-base: $font-family-sourcesanspro;
$font-size-base: 14px;
$line-height-base: 1.2;
$color-base: $color-deep-blue;

/* Текстовый шрифт */
$font-family-text: $font-family-sourcesanspro;
$font-size-text: 18px;
$font-size-text-le-1200: 16px;
$font-size-text-le-768: 14px;
$line-height-text: 1.4;
$color-text: $color-deep-blue;

/* Брейкпоинты для адаптива */
$breakpoint-1620: 1620px;
$breakpoint-1440: 1440px;
$breakpoint-1200: 1200px;
$breakpoint-1024: 1024px;
$breakpoint-970: 970px;
$breakpoint-768: 768px;
$breakpoint-640: 640px;
$breakpoint-480: 480px;
$breakpoint-375: 375px;
$min-width: 375px;

/* Вертикальные отступы для адаптива */
$margin-vertical-1620: 40px;
$margin-vertical-1440: 40px;
$margin-vertical-1200: 40px;
$margin-vertical-1024: 32px;
$margin-vertical-970: 32px;
$margin-vertical-768: 28px;
$margin-vertical-640: 24px;
$margin-vertical-480: 20px;
$margin-vertical-375: 20px;

/* Горизонтальные отступы для адаптива */
$margin-horizontal-1620: 48px;
$margin-horizontal-1440: 48px;
$margin-horizontal-1200: 40px;
$margin-horizontal-1024: 36px;
$margin-horizontal-970: 32px;
$margin-horizontal-768: 24px;
$margin-horizontal-640: 24px;
$margin-horizontal-480: 24px;
$margin-horizontal-375: 12px;

/* Ширина контейнеров */
$container-width: 1080px;
$container-width-large: 1280px;