.advantages {
	position: relative;
	
	&__title {
		text-transform: uppercase;
	}

	&__list {
		position: relative;
		overflow: hidden; 
		white-space: nowrap;
		width: 900px;
		margin: auto;
	}

	&__slider {
		@mixin margin-top 0.8;

		position: relative;
		width: 100%;
		margin: auto;

		&-arrow {
			@mixin arrow;
			@mixin arrow--round;

			&.m--next {
				@mixin arrow--next;
				@mixin arrow--round-next-base;
			}

			&.m--prev {
				@mixin arrow--prev;
				@mixin arrow--round-prev-base;
			}

			&:hover {
				&.m--next {
					@mixin arrow--round-next-yellow;
				}

				&.m--prev {
					@mixin arrow--round-prev-yellow;
				}
			}

			&:active {
				&.m--next {
					@mixin arrow--round-next-red;
				}

				&.m--prev {
					@mixin arrow--round-prev-red;
				}
			}
		}
	}

	&__item {
		display: inline-block;
		width: 290px;

		&:not(:last-child) {
			margin-right: 12px;
		}
	}

	&__card {
		@mixin card 290px;
		@mixin card--red;

		height: 300px;

		&-icon {
			object-fit: none;
			width: 100%;
			height: 50%;
		}

		&-title {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 50px;
			white-space: pre-wrap;
			text-align: center;
			text-transform: uppercase;
			font-weight: $font-weight-black;
		}

		&-annotation {
			font-size: 18px;
			font-weight: $font-weight-semibold;
			text-align: center;
		}
	}

	@mixin responsive-le-1200 {
		
		&__list {
			width: 770px;
		}	

		&__item {
			width: 246px;
		}

		&__card {
			@mixin card 246px;

			&-annotation {
				font-size: 14px;
			}
		}
	}

	@mixin responsive-le-1024 {

		&__slider {
			width: 572px;

			&-arrow {
				@mixin arrow;

				&.m--next {
					@mixin arrow--next;
					@mixin arrow--next-base;
				}

				&.m--prev {
					@mixin arrow--prev;
					@mixin arrow--prev-base;
				}

				&:hover {
					&.m--next {
						@mixin arrow--next-yellow;
					}

					&.m--prev {
						@mixin arrow--prev-yellow;
					}
				}

				&:active {
					&.m--next {
						@mixin arrow--next-red;
					}

					&.m--prev {
						@mixin arrow--prev-red;
					}
				}
			}
		}

		&__list {
			width: 508px;
		}	

		&__item {
			width: 246px;
		}

		&__card {
			@mixin card 246px;
		}
	}

	@mixin responsive-le-768 {

		&__slider {
			width: 310px;
		}

		&__list {
			width: 246px;
		}

		&__item {
			width: 246px;
			margin: 0;
		}

		&__card {
			@mixin card 246px;

			&-annotation {
				font-size: 14px;
			}
		}
	}
}