.body {
	display: flex;
	flex-direction: column;
    position: relative;

    &__header {}

    &__main {
        flex: 1 0 auto;
        position: relative;
        margin-bottom: 80px;
    }

    &__footer {
		flex: 0 0 auto;
    }
}
