.breadcrumbs {

	&__container {
		@mixin container--large;
	}

    &__link {
    	@mixin link--base;
    }

    &__item {

    	&.is-active {
    		color: $color-bright-red;
    	}
	}

    &__sep {
    	color: $color-deep-blue;
    }

    @mixin responsive-ge-1440 {
        font-size: 18px;
    }

    @mixin responsive-le-1200 {
        font-size: 14px;
    }
}
