.catalog {
	display: flex;
	justify-content: center;

	&__products {
		width: 824px;
	}

	&__navbar {
		display: flex;
		justify-content: center;
		margin-top: 40px;
		width: 824px;
	}

	@mixin responsive-le-1200 {

		&__products {
			width: 524px;
		}

		&__navbar {
			width: 524px;
		}
	}

	@mixin  responsive-le-640 {

		&__products {
			width: 248px;
		}

		&__navbar {
			width: 248px;
		}
	}
}