.filter {

	&__content {}

	&__block {

		&-content {}
	}

	&__subblock {

		&-header {
			font-size: 18px;
			font-weight: $font-weight-semibold;
			margin-bottom: 16px;
		}

		&:not(:last-child) {
			margin-bottom: 24px;
		}
	}

	&__field {
		display: flex;
		font-size: 18px;
		
		&-label {
			margin-bottom: 16px;
			
			&.m--type-select {
				padding-left: 8px;	
			}
			
			&.m--type-checkbox {
				font-weight: $font-weight-semibold;
			}
		}

		&-span {
			font-size: 18px;
			padding-left: 8px;
		}

		&.m--type-select,
		&.m--type-checkbox {
			flex-direction: column;
		}

		&.m--type-flag {
			&:not(:last-child) {
				margin-bottom: 8px;
			}			
		}

		&:not(:last-child) {
			margin-bottom: 24px;
		}
		
		select {
			@mixin select;
			@mixin select--color-yellow;
		}

		input {
			@mixin input;
			@mixin input--color-yellow;
		}

		label {
			display: flex;
			align-items: center;
			flex-flow: row nowrap;

			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}

		ins {
			text-decoration: none;
		}
	}

	&__submit {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 12px;
	}

	@mixin responsive-ge-768 {

		&.m--desktop {
			@mixin card 284px;
			@mixin card--yellow;
			@mixin card--filter;	
		}
		
		&__submit {

			&.m--submit {
				@mixin button;
				@mixin button--large;
				@mixin button--color-base;
				@mixin button--shadow;	
			}
			
			&.m--reset {
				@mixin link--blue;

				background: none;
				border: none;
				cursor: pointer;
				opacity: 0.5;
				margin-top: 12px;

				&:hover {
					@mixin link--red;

					opacity: 1;
				}
			}
		}
	}

	@mixin responsive-le-970 {

		&.m--desktop {
			margin-left: auto; 
			margin-right: auto;
			margin-bottom: 40px;
		}
	}

	@mixin responsive-le-640 {

		&.m--desktop {
			display: none;
		}

		&__subblock {

			&-header,
			&-content {
				width: 300px;
				margin-left: auto;
				margin-right: auto;
			}
		}

		&__submit {
			flex-flow: row nowrap;
			background: $color-bright-yellow;

			&.m--submit,
			&.m--reset {
				font-family: $font-family-sourcesanspro;
				margin: 32px 24px;
				background: none;
				border: none;
				color: $color-deep-blue;
				font-size: 18px;
				font-weight: $font-weight-semibold;
				text-transform: uppercase;
				text-decoration: underline; 
			}
		}
	}
}