.footer {

	&__top {
		background-color: $color-pale-yellow;

		&-container {
			@mixin container--large;

			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: space-between;
			min-height: 70px;
			padding-top: 12px;
			padding-bottom: 12px;
		}
	}

	&__bottom {
		background-color: $color-bright-yellow;

		&-container {
			@mixin container--large;

			display: flex;
			align-items: center;
			justify-content: flex-end;
			height: 25px;
		}
	}

	&__contacts {
		display: flex;
		position: relative;
	}

	&__contact {
		position: relative;

		&-link {
			@mixin link--base;

			display: flex;
			align-items: center;
			padding-left: 28px;

			&:hover {

				&.m--phone::before {
					background-image: url('$(dir-icons)/icon_phone_red.svg');
				}
			}

			&::before {
				content: '';
				position: absolute;
				left: 0;
				width: 24px;
				height: 20px;
				background-position: center center;
				background-size: contain;
				background-repeat: no-repeat;
			}

			&.m--phone {
				font: $font-weight-semibold $font-size-text/$line-height-text $font-family-base; 
			}

			&.m--phone::before {
				background-image: url('$(dir-icons)/icon_phone.svg');
			}
		}

		&-caption {
			font-size: 10px; 
		}

		&.m--mobile {
			display: none;
		}
	}

	&__menu {
		position: relative;
	}

	&__developer {
		display: flex;
		text-transform: lowercase;
		height: 25px;

		&-link {
			@mixin link--blue;

			display: flex;
			align-items: center;
		}

		&-label {
			padding-right: 4px;
		}

		&-icon {
			width: 24px;
			height: 24px;
		}
	}

	@mixin responsive-le-640 {

		&__top {
			&-container {
				height: 60px;	
			}
		}

		&__bottom {
			&-container {
				height: 30px;
				justify-content: space-between;	
			}
		}

		&__contacts {
			display: none;
		}

		&__contact {

			&-link {

				&.m--phone {
					font-size: $font-size-base;
					line-height: $line-height-base;
				}
			}

			&.m--mobile {
				display: flex;
			}
		}
	}
}
