.footer-menu {
	
	&__item {
		display: flex;
		align-items: center;
		height: 28px;

		&-link {
			@mixin link--blue;
		}

		&:not(:last-child) {
			margin-right: 16px;
		}
	}

	&.m--desktop {
		display: flex;
	}

	&.m--mobile {
		display: none;
	}

	@mixin responsive-le-970 {

		&.m--desktop {
			display: block;
			column-count: 2;
			column-width: 150px;
		}
	}

	@mixin responsive-ge-1024 {

		&__item {

			&:not(:last-child) {
				margin-right: 36px;
			}
		}
	}

	@mixin responsive-le-640 {

		&.m--desktop {
			display: none;
		}

		&.m--mobile {
			display: flex;
			justify-content: space-between;
			width: 100%;
		}
	}
}