.header {
	display: flex;
	flex-direction: column;
	position: relative;
	box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.16);
	height: 125px;
	z-index: 1;

	&__top {
		background-color: $color-bright-yellow;
		height: 35px;
		
		&-container {
			max-width: 1440px;
			margin: 0 auto;
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: relative;
			height: 100%;
		}

		&.m--white {
			background-color: $color-white;
			border-top-right-radius: 40px;
			position: absolute;
			top: 0;
			left: 0;
			height: 80px;	
			width: 46%;
		}
	}

	&__bottom {
		background-color: $color-white;
		position: relative;

		&-container {
			@mixin container--large;

			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: space-between;
			height: 90px;
		}
	}

	&__contacts {
		@mixin margin-left 0.6;
	}

	&__contact {
		display: inline-flex;
		align-items: center;
		position: relative;

		&-link {
			@mixin link--base;

			line-height: 20px;
			padding-left: 28px;
			padding-right: 8px;
			position: relative;

			&:hover {

				&.m--phone::before {
					background-image: url('$(dir-icons)/icon_phone_red.svg');
				}
			}

			&::before {
				content: '';
				position: absolute;
				left: 0;
				width: 24px;
				height: 20px;
				background-position: 0 0;
				background-size: contain;
				background-repeat: no-repeat;
			}

			&.m--phone::before {
				background-image: url('$(dir-icons)/icon_phone.svg');
			}
		}
	}

	&__logo {
		display: flex;
		align-items: center;
		height: 70px;
		width: 432px;
		z-index: 1;

		&-image {
			object-fit: contain;
			width: 100%;
			height: 100%;
		}
	}

	&__location {
		@mixin link--base;
		@mixin margin-right 0.9;

		display: inline-flex;
		align-items: center;
		height: 35px;
		cursor: pointer;

		&-label {
			padding-left: 20px;
			padding-right: 8px;
		}

		&:hover {

			&::before {
				background-image: url('$(dir-icons)/icon_placemark_red.svg');
			}
		}

		&::before {
			content: '';
			position: absolute;
			width: 20px;
			height: 20px;
			background-image: url('$(dir-icons)/icon_placemark.svg');
			background-position: 0 0;
			background-size: contain;
			background-repeat: no-repeat;
		}

		&.m--mobile {
			@mixin link--white;

			font-size: 16px;
			height: 100%;
			white-space: wrap;
			margin-right: 0px;

			&::before {
				background-image: url('$(dir-icons)/icon_placemark_white.svg');
			}
		}
	}

	&__service {
		@mixin margin-right 0.6;

		display: flex;
		align-items: center;
		height: 100%;

		&-link {		
			@mixin link--base-underline;
			
			position: relative;	
			line-height: 20px;
			padding-left: 24px;
			text-decoration: underline;
			text-transform: lowercase;

			&:not(:last-child) {
				margin-right: 24px;
			}

			&:hover {

				&.m--payment::before {
					background-image: url('$(dir-icons)/icon_percent_red.svg');
				}

				&.m--cabinet::before {
					background-image: url('$(dir-icons)/icon_lock_n_key_red.svg');
				}
			}

			&::before {
				content: '';
				position: absolute;
				left: 0;
				width: 20px;
				height: 20px;
				background-position: 0 0;
				background-size: contain;
				background-repeat: no-repeat;
			}

			&.m--payment::before {
				background-image: url('$(dir-icons)/icon_percent.svg');
			}

			&.m--cabinet::before {
				background-image: url('$(dir-icons)/icon_lock_n_key.svg');
			}
		}
	}

	&__menu {

		&-top {

		}

		&-toggle {
			display: none;
		}
	}

	@mixin responsive-le-1440 {

		&__top {

			&.m--white {
				width: 64%;
			}
		}
	}

	@mixin responsive-le-1200 {

		&__logo {
			height: 62px;
			width: 335px;
		}
	}

	@mixin responsive-le-970 {
		height: 90px;

		&__top {
			display: none;
		}

		&__menu {

			&-toggle {

				&.is-opened {
					display: block;
				}
			}
		}
	} 

	@mixin responsive-le-480 {

		&__logo {
			height: 50px;
			width: 256px;
		}
	}
}
