.home-slider {
	position: relative;

	&__list {
		position: relative;
		overflow: hidden;
		height: 400px;
	}

	&__item {
		position: absolute;
		left: 0;
		top: 0;
        width: 100%;
        height: 100%;

		&-mask {
			background-color: $color-black;
			opacity: 0.16;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}

		&-image {
			object-fit: cover;
			width: 100%;
			height: 400px;
		}

		&-annotation {
			text-align: right;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 20%;
		}

		&-link {
			@mixin button;
			@mixin button--small;
			@mixin button--color-red;

			font-weight: $font-weight-bold;
			opacity: 0.84;
		}
	}

	&__title {
		color: $color-white;
		font-weight: $font-weight-bold;
		text-transform: uppercase;
		margin-bottom: 12px;

		&.m--big {
			font-size: 72px;
		}

		&.m--mid {
			font-size: 54px;
			line-height: 72px;
		}

		&.m--small {
			font-size: 27px;
			line-height: 54px;
		}
	}

	&__arrow {
		@mixin arrow;
		@mixin arrow--round;

		&.m--next {
			@mixin arrow--round-next-base;

			right: 100px;
		}

		&.m--prev {
			@mixin arrow--round-prev-base;

			left: 100px;
		}

		&:hover {
			&.m--next {
				@mixin arrow--round-next-yellow;
			}

			&.m--prev {
				@mixin arrow--round-prev-yellow;
			}
		}

		&:active {
			&.m--next {
				@mixin arrow--round-next-red;
			}

			&.m--prev {
				@mixin arrow--round-prev-red;
			}
		}
	}

	&__nav {
		display: flex;
		justify-content: center;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 20px;

		&-link {
			width: 10px;
			height: 10px;
			background: $color-white;
			border-radius: 5px;

			&.is-active {
				background: $color-bright-yellow;
			}

			&:not(:last-child) {
				margin-right: 10px;
			}

			&:hover {
				background: $color-bright-yellow;
			}
		}
	}

	@mixin responsive-le-1200 {

		&__item {

			&-annotation {
				right: 16%;
			}
		}

		&__arrow {

			&.m--next {
				right: 60px;
			}

			&.m--prev {
				left: 60px;
			}
		}
	}

	@mixin responsive-le-970 {

		&__item {

			&-annotation {
				text-align: center;
				right: 0;
				left: 0;
			}
		}

		&__arrow {
			display: none;
		}
	}

	@mixin responsive-le-640 {

		&__list {
			height: 350px;
		}

		&__item {

			&-image {
				height: 350px;
			}
		}

		&__title {
			
			&.m--big {
				font-size: 58px;
			}

			&.m--mid {
				font-size: 40px;
				line-height: 58px;
			}

			&.m--small {
				font-size: 20px;
				line-height: 40px;
			}
		}
	} 
}