.location-select {
	position: absolute;
	top: -32px;
	width: 100%;

	&__header {
		color: $color-deep-blue;
		text-transform: uppercase;
		margin-bottom: 28px;
		text-align: left;
	}

	&__region {

		&-header {
			color: $color-deep-blue;
			margin-bottom: 20px;
		}

		&:not(:last-child) {
			margin-bottom: 40px;
		}
	}

	&__city {

		&-list {
			column-count: 3;
		}

		&-item {}

		&-link {
			@mixin link--red-underline;

			font-size: 18px;

			&:hover,
			&.is-active {
				@mixin link--red;
			}
		}
	}

	@mixin responsive-le-640 {

		&__header {
			text-transform: unset;
		}

		&__city {

			&-list {
				column-count: 1;
			}
		}
	} 
}