.lombard-item {
	display: flex;
	flex-direction: column;
	
	&__content {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		border-bottom: 1px solid $color-deep-blue;
		padding: 32px;

		&.m--lombard {
			border-top: 1px solid $color-deep-blue;
			flex-direction: column;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
	}

	&__services {
		display: flex;
		flex-flow: row wrap;
	}	

	&__service {
		@mixin link--base;
		
		display: flex;
		align-items: center;
		font-size: 18px;
		font-weight: $font-weight-semibold;

		&:not(:last-child) {
			margin-right: 28px;
		}
	}

	&__hours {
		display: flex;
		flex-flow: row nowrap;
		font-size: $font-size-text;
		line-height: $line-height-text;
		position: relative;
		padding-left: 52px;
		margin-top: 32px;

		&-work {}

		&-lunch {
			margin-left: 28px;
		}

		&::before {
			content: '';
			position: absolute;
			left: 0;
			width: 36px;
			height: 36px;
			background-position: center center;
			background-size: contain;
			background-repeat: no-repeat;
		}

		&.m--watch::before {
			background-image: url('$(dir-icons)/icon_watch_deep-blue.svg');
		}
	}

	&__icon {
		margin-right: 12px;
		width: 40px;
		height: auto;
		object-fit: scale-down;
		object-position: center;
	}

	&__stocks {
		display: flex;
		flex-direction: column;

		&.m--lombard {
			width: 100%;
			margin-top: 32px;
			padding-top: 32px;
			border-top: 1px solid $color-deep-blue;
		}

		&.m--lombard-cat,
		&.m--news-page,
		&.m--stock-page {
			width: 300px;
			min-width: 300px;
		}
	}

	@mixin responsive-le-1200 {

		&__content {
			flex-flow: row wrap;
		}

		&__stocks {

			&.m--lombard-cat,
			&.m--news-page,
			&.m--stock-page {
				width: 100%;
				margin-top: 32px;
			}
		}
	} 

	@mixin responsive-le-640 {

		&__content {
			padding-left: 8px;
			padding-right: 8px;
		} 

		&__hours {
			flex-direction: column;

			&-lunch {
				margin-top: 12px;
				margin-left: 0px;
			}
		}

		&__services {
			flex-direction: column;
		}

		&__service {

			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}
}