.lombards {

	&__header {
		display: none;

		&.m--news-page,
		&.m--stock-page {
			display: flex;
		}
	}
	
	&__list {
		display: flex;
		flex-direction: column;

		&.m--news {
			@mixin margin-left 2;
			@mixin margin-right 2;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;

		&:not(:first-child) {
			padding-top: 40px;
		}

		&-address {
			display: flex;
			align-items: center;
			flex-flow: row nowrap;
		}

		&-title {
			margin-bottom: 0;
			margin-right: 12px;
			text-decoration: underline;
		}

		&-link {
			@mixin link--base-underline;

			position: relative;
			display: inline-flex;
			align-items: center;
			padding-right: 24px;
			white-space: nowrap;

			&::before {
				content: '';
				position: absolute;
				right: 0;
				width: 20px;
				height: 20px;
				background-image: url('$(dir-icons)/icon_placemark.svg');
				background-position: center center;
				background-size: contain;
				background-repeat: no-repeat;
			}
		}	
	}

	@mixin responsive-le-1024 {

		&__item {

			&-address {
				justify-content: space-between;
			}
		}
	}

	@mixin responsive-le-640 {

		&__item {

			&-address {
				flex-direction: column;
				align-items: flex-start;
			}

			&-link {
				color: $color-bright-red;
				margin-top: 12px;
				padding-left: 24px;

				&::before {
					left: 0;
				}
			}	
		}
	}
}