.main-menu {
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: center;
	height: 80px;
	background-color: $color-white;
	box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.16);

	&__item {
		display: flex;
		width: 144px;
		height: 100%;
		position: relative;

		&-link {
			@mixin link--blue;

			display: flex;
			flex-flow: row wrap;
			align-items: center;
			justify-content: center;
			margin: auto;
			height: 80%;
		}

		&-icon {
			display: flex;
			justify-content: center;
			width: 100%;
			object-fit: contain;
		}

		&-title {
			font-weight: $font-weight-bold;
			text-align: center;
		}

		&:not(:last-child) {
			margin-right: 16px;
		}

		&:hover {
			background-color: $color-bright-yellow;
		}
	}

	@mixin responsive-1024 {

		&__item {

			&:not(:last-child) {
				margin-right: 0px;
			}
		}
	}

	@mixin responsive-le-970 {

		&__item {
			width: 90px;

			&-icon {
				height: 30px;
			}

			&-title {
				font-size: 12px;
			}
		}
	}
}