.main {
	
    &__breadcrumbs {
    	margin-top: 24px;
        margin-bottom: 24px;
    }

    @mixin responsive-le-640 {

    	&__breadcrumbs {

            &.m--lombard_cat,
    		&.m--prod_group,
            &.m--stocks_news_page {
	    		margin-top: 105px;
	    	}
    	}
    }
}
