.mobile-menu {

	&__nav {
		display: none;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 80px;

		&-trigger {
			width: 36px;
			height: 24px;
			position: relative;
		}

		&.is-active {
			background-color: $color-deep-blue;
		}

		&.is-active &-trigger {
			width: 36px;
			height: 36px;
		}
	}

	&__icon {

		&.m--stripe {
			display: block;
			background-color: $color-deep-blue;
			border-radius: 0px;
			height: 4px;
			width: 100%;
			position: absolute;
			left: 0;
			right: 0;

			&:nth-child(2) {
				top: 10px;
			}

			&:nth-child(3) {
				top: 20px;
			}
		}
	}

	&__nav.is-active &__icon.m--stripe {
		background-color: $color-white;
		height: 3px;
		width: 120%;
		top: 16px;
		left: -4px;

		&:nth-child(1) {
			transform: rotate(45deg);
		}

		&:nth-child(2) {
			transform: rotate(-45deg);
		}

		&:nth-child(3) {
			display: none;
		}
	}

	&__list {
		position: absolute;
		width: 100%;
		top: 90px;
		left: 0;
	}

	&__item {
		display: block;
		position: relative;
		background-color: $color-deep-blue;
		width: 100%;
		cursor: pointer;

		&.m--white {
			background-color: $color-white;
			color: $color-deep-blue;
			font-size:  $font-size-base;
			font-weight: $font-weight-semibold;
		}

		&.m--big {
			height: 72px;
		}

		&-link {
			@mixin link--white;

			display: inline-flex;
			align-items: center;
			position: relative;
			height: 56px;
			padding-left: 24px;
			padding-right: 32px;

			&::before {
				content: '';
				position: absolute;
				right: 0;
				background-position: 0 0;
				background-size: contain;
				background-repeat: no-repeat;
			}

			&.m--subitem::before {
				@mixin arrow--down;
				@mixin arrow--down-white;
			}
		}

		&-icon {
			display: flex;
			align-items: center;
			width: 20px;
			height: 20px;
			object-fit: contain;
			margin-right: 8px;
		}

		&:not(:last-child) {
			border-bottom-color: $color-grayish-blue;
			border-bottom-style: solid;
			border-bottom-width: 1px;
		}

		&:active {
			background-color: $color-bright-yellow;
		}

		&:active &-link {
			@mixin link--blue;

			&.m--subitem::before {
				@mixin arrow--down;
				@mixin arrow--down-blue;
			}
		}
	}

	&__subitems {
		display: none;
		top: 56px;
		width: 100%;
	}

	&__subitem {
		display: block;
		position: relative;
		background-color: $color-deep-blue;
		border-top: 1px solid $color-grayish-blue;
		height: 56px;
		cursor: pointer;

		&-link {
			@mixin link--white;

			display: inline-flex;
			align-items: center;
			position: relative;
			padding-left: 40px;
			height: 56px;
		}
	}

	@mixin responsive-le-640 {

		&__nav {
			display: flex;
		}
	}
}

@-moz-document url-prefix() {
    .mobile-menu {
        font-weight: $font-weight-light;
    }
}