.modal {
	width: 850px;
	height: 875px;
	padding: 0px 40px;
	display: table-cell;

    &__outer {
    	position: relative;
    }

    &__inner {
    	position: relative;
    }

    @mixin responsive-le-640 {
    	padding: 0px 8px;
    }
}
