.navbar {

	&__list {
		display: flex;
		align-items: center;
	}

	&__item {
		position: relative;
		width: 40px;
		height: 40px;
		border-radius: 10px;
		border: 3px solid $color-bright-yellow;

		&-link {
			display: flex;
			align-items: center;
			justify-content: center;
			color: $color-deep-blue;
			font-size: $font-size-text;
			line-height: 1;
			font-weight: $font-weight-semibold;
			text-decoration: none;
			width: 100%;
			height: 100%;
		
			&.is-active {
				color: $color-white;
			}
		}

		&.is-active {
			border: none;
			background-color: $color-bright-red;
		}

		&:not(:last-child) {
			margin-right: 20px;
		}
	}
}