.news {
	display: flex;
	flex-direction: column;
	width: 37%;
	order: 1;
	
	&__header {
		text-transform: uppercase;

		&.m--stocks-news-page {
			display: none;
		}
	}

	&__link {
		@mixin link--blue;
	}

	&__navbar {
		display: flex;
		justify-content: center;
		margin-top: 40px;
	}

	&__list {}

	&__item {
		position: relative;
		display: flex;
		flex-flow: row wrap;
		max-height: 310px;

		&-preview {
			@mixin margin-top 0.2;
			@mixin text;
		}

		&-more {
			@mixin margin-top 0.5;

			display: flex;
			justify-content: center;
			width: 100%; 
		}

		&-link {
			@mixin button;
			@mixin button--large;
			@mixin button--color-yellow;
		}

		&:not(:first-child) {
			margin-top: 40px;
		}
	}

	@mixin responsive-ge-1024 {

		&__list {

			&.m--stocks-news-page {
				margin-top: 0;
			}
		}
	}

	@mixin responsive-le-970 {
		width: 100%;
	}

	@mixin responsive-le-640 {

		&__header {

			&.m--stocks-news-page {
				display: block;
				text-align: left;
			}
		}
	}
}