.personal-office {
    &__breadcrumbs
      {
        display: none;
      }
    &__height
      {
        position: static;
        height: auto;
        margin-top: 30px;
      }
    &__field
      {
        position: relative; 
        border: solid 3px #001f43;
        font-size: 20px;
        padding: 0px 15px 0px 15px;
        height: 45px;
      }
    &__fieldwidth
      {
        width: 400px;
        position: relative;
      }
    &__center
      {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

    &__textblock
      {
        position: relative;
      }

    &__button
      {
        border: solid 3px #001f43;
        color: #001f43;
        border-radius: 5px;
        font-size: 17px;
        padding: 5px 25px 5px 25px;
      }

    &__link
      {
        color: #ff4852;
        font-size: 20px;
        letter-spacing: 2px;
        padding: 5px 5px 5px 25px;
      }
    &__linksbottom
      {
        position: relative;
      }

    &__warningincorrect
      {
        font-size: 18px;
        color: #ff4852;
      }
    &__warningdisplay
      {
        display: none;
      }

    &__icon
      {
        position: absolute; 
        top: 0px; 
        right: 15px;
        width: 45px; 
        height: 45px; 
        background-image: url(/i/icons/eye.svg); 
        background-position: 0 0; 
        background-size: contain;
      }

    &__toptext
      {
        display: table-cell;
      }

    &__form
      {
        float: left;
      }

    &__paragraph
      {
        margin-bottom: 48px;
      }

    &__offset
      {
        margin-bottom: 30px;
        position: relative;
      }



    @media screen and (max-width: 1200px) {
      &__link
        {
          font-size: 17px;
        }
      }

    @media screen and (max-width: 970px) {
      &__toptext
        {
          display: table-row;
        }
      &__link
        {
          padding: 5px;
        }
      }

    @media screen and (max-width: 768px) {
      &__form
        {
          position: absolute;
          top: 50px;
        }
      &__textblock
        {
          position: absolute;
          top: 480px;
          text-align: left;
        }
      &__linksbottom
        {
          position: absolute;
          top: 440px;
          z-index: 999;
        }
      &__height
        {
          height: 600px;
          margin-top: 0px;
        }
      }
    @media screen and (max-width: 640px) {
      &__breadcrumbs
        {
          display: block;
          position: relative;
          top: 50px;
        }
      &__form
        {
          position: absolute;
          top: 90px;
          width: 100%;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      &__fieldwidth
        {
          width: 100%;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      &__textblock
        {
          position: absolute;
          top: 530px;
          text-align: left;
        }
      &__linksbottom
        {
          position: absolute;
          top: 480px;
          z-index: 999;
        }
      }
    @media screen and (max-width: 480px) {
      &__form
        {
          width: 90%;
        }
      &__fieldwidth
        {
          width: 90%;
        }
      &__icon
        {
          display: none;
        }
      &__warningincorrect
        {
          width: 90%;
          display: block;
          margin-left: auto;
          margin-right: auto;
          display: none;
        }
      }
    @media screen and (max-width: 375px) {
      &__form
        {
          margin-left: 0;
        }
      &__fieldwidth
        {
          margin-left: 0;
        }
      &__textblock
        {
          width: 70%;
        }
      &__toptext
        {
          float: left;
          text-align: left;
        }
      }

.loans {

	}

.loans__paragraph {
        margin-bottom: 48px;
      }

.loans__h1yellow {
		background: #fff226;
		display: inline-block;
	}

.loans__table {
		display: table;
		width: 100%;
		border-left: solid 1px #001f43;
	}

.loans__row {
		display: table-row;
	}

.loans__general-cell-active {
		display: table-cell;
		background: #FFFFB2;
		text-align: center;
		font-weight: bold;
		letter-spacing: 1px;
		padding: 20px 10px 20px 10px;
		margin-top: 20px;
		border-right: solid 1px #001f43;
		border-bottom: solid 1px #001f43;
	}

.loans__cell-active {
		display: table-cell;
		border-right: solid 1px #001f43;
	}

.loans__cell-active__block {
		background: #FFFFB2;
		text-align: center;
		font-weight: bold;
		letter-spacing: 1px;
		padding: 20px 10px 20px 10px;
		margin-top: 20px;
	}

.loans__cell__block {
		background: rgb(230,230,230);
		text-align: center;
		font-weight: bold;
		letter-spacing: 1px;
		padding: 20px 10px 20px 10px;
		margin-top: 20px;
		color: #999;
	}

.loans__general-cell-active-even {
		display: table-cell;
		background: #FFF8DC;
		text-align: center;
		font-weight: bold;
		letter-spacing: 1px;
		padding: 20px 10px 20px 10px;
		margin-top: 20px;
		border-right: solid 1px #001f43;
		border-bottom: solid 1px #001f43;
	}

.loans__cell-active-even {
		display: table-cell;
		border-right: solid 1px #001f43;
	}

.loans__cell-active-even__block {
		background: #FFF8DC;
		text-align: center;
		font-weight: bold;
		letter-spacing: 1px;
		padding: 20px 10px 20px 10px;
		margin-top: 20px;
	}

.loans__cell-even__block {
		background: rgb(240,240,240);
		text-align: center;
		font-weight: bold;
		letter-spacing: 1px;
		padding: 20px 10px 20px 10px;
		margin-top: 20px;
		color: #aaa;
	}

.loans__pay {
		text-decoration: underline;
		color: #ff4852;
		cursor: pointer;
	}

.loans__number-active {
		text-decoration: underline;
	}

.loans__number {
		color: #999;
		text-decoration: underline;
	}

  }



