.product-info {

	&__content {
		position: relative;
		width: 100%;
		padding-left: 8px;
		text-align: left;

		&-label {
			margin-bottom: 24px;
		}

		&-value {}
	}

	&__price {
		position: relative;
		background-color: $color-bright-yellow;
		display: inline-flex;
		font-size: 35px;
		font-weight: $font-weight-bold;
		padding: 8px;

		&-label {}

		&-value {}

		span {
			margin: 0px 4px;
		}

		ins {
			text-decoration: none;
		}
	}

	&__booking {
		position: relative;
		display: flex;
		align-items: center; 
		font-weight: $font-weight-semibold;
		line-height: 20px;
		text-align: left;

		&-link {
			@mixin link--base;
		}

		&-label {
			position: relative;

			&.m--phone {
				padding-left: 28px;
				padding-right: 8px;
			}

			&::before {
				content: '';
				position: absolute;
				left: 0;
				width: 24px;
				height: 20px;
				background-position: 0 0;
				background-size: contain;
				background-repeat: no-repeat;
			}

			&.m--phone::before {
				background-image: url('$(dir-icons)/icon_phone.svg');
			}
		}

		&-value {}
	}

	@mixin responsive-le-1024 {

		&__price {
			font-size: 26px;
		}
	}

	@mixin responsive-le-768 {

		&__booking {
			flex-direction: column;
			width: 100%;

			&-label {

				&.m--phone {
					padding: 0; 
				}

				&.m--phone::before {
					display: none;
				}
			}

			&-value {
				padding-top: 4px;
			}

			&-link {
				position: relative;

				&.m--phone {
					padding-left: 28px;
				}

				&:hover {

					&.m--phone::before {
						background-image: url('$(dir-icons)/icon_phone_red.svg');
					}
				}

				&::before {
					content: '';
					position: absolute;
					left: 0;
					width: 24px;
					height: 20px;
					background-position: 0 0;
					background-size: contain;
					background-repeat: no-repeat;
				}

				&.m--phone::before {
					background-image: url('$(dir-icons)/icon_phone.svg');
				}
			}
		}
	}

	@mixin responsive-le-640 {

		&__price {
			margin: auto;
		}
	}
}