.product {

	&__block {
		@mixin container;

		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		position: relative;
	}
	
	&__info {
		position: relative;
		display: flex;
		flex-direction: column;
		flex-basis: 50%;
	}

	&__gallery {
		position: relative;
		display: flex;
		flex-direction: column;
		flex-basis: 470px;

		&-list {
			overflow: hidden;
			position: relative;
			height: 470px;
		}

		&-item {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}

		&-img {
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
			object-fit: contain;
		}

		&-side {
			height: 100%;
			width: 50px;

			&.m--left {
				margin-left: 0;
				position: relative;
			}

			&.m--right {
				margin-right: 0;
			}
		}

		&-more {
			background-color: rgba(255, 255, 255, 0.5);
			width: 50px;
			transition: 0.4s;
			position: absolute;
			height: 100%;

			&.m--next {
				top: 0;
				right: -50px;
			}

			&.m--prev {
				top: 0;
				left: -50px;
			}
		}

		&-side:hover.m--right &-more.m--next {
			right: 0;
		}

		&-side:hover.m--right &-arrow.m--next {
			margin-right: 12px;
		}

		&-side:hover.m--left &-more.m--prev {
			left: 0;
		}

		&-side:hover.m--left &-arrow.m--prev {
			margin-left: 12px;
		}

		&-arrow {
			@mixin arrow;

			transition: 0.4s;

			&.m--next {
				@mixin arrow--next;
				@mixin arrow--next-base;	

				margin-right: 8px;
				opacity: 0.5;			
			}

			&.m--prev {
				@mixin arrow--prev;
				@mixin arrow--prev-base;

				margin-left: 8px;
				opacity: 0.5;	
			}

			&:hover {

				&.m--next {
					@mixin arrow--next-red;

					opacity: 1;
				}

				&.m--prev {
					@mixin arrow--prev-red;

					opacity: 1;
				}
			}
		}
	}

	&__thumb {
		width: 470px;
		margin-top: 10px;

		&-list {
			position: relative;
			overflow: hidden;
			white-space: nowrap;
		}

		&-item {
			position: relative;
			display: inline-block;
			width: 156px;
			height: 156px;
			vertical-align: middle;

			&:hover {
				border: 2px solid $color-bright-red;
			}

			&.is-active {
				border: 4px solid $color-bright-yellow;
			}
		}

		&-img {
			width: 100%;
			height: auto;
			object-fit: contain;
		}
	}

	&__attr {
		position: relative;

		&-list {
			margin: auto;
			border-top: 1px solid $color-deep-blue;
		}

		&-item {
			position: relative;
			display: flex;
			align-items: center;
			flex-flow: row nowrap;
			justify-content: space-between;
			padding: 12px 0px;
			font-size: $font-size-text;

			&.m--content {
				flex-direction: column;
			}

			&.m--price {
				padding: 12px 0;
			}

			&:not(:last-child) {
				border-bottom: 1px solid $color-deep-blue;
			}
		}

		&-label {
			flex-basis: 49%;
			padding-left: 8px;
			text-align: left;
		}

		&-value {
			flex-basis: 49%;
			text-align: left;
		}
	}

	&__gallery-arrow.m--next:hover  {

		.product__gallery-more.m--next {
			right: 0;
		}
	}

	@mixin responsive-le-1200 {

		&__gallery {

			&-list {
				width: 364px;
				height: 364px;
			}
		}

		&__thumb {
			width: 364px;

			&-item {
				width: 120px;
				height: 120px;
			}
		}
	} 

	@mixin responsive-le-1024 {

		&__gallery {
			flex-basis: 327px;

			&-list {
				width: 327px;
				height: 327px;
			}
		}
	}

	@mixin responsive-970 {

		&__info {
			flex-basis: 300px;
		}

		&__thumb {
			width: 327px;

			&-item {
				width: 112px;
				height: 112px;
			}
		}

		&__attr {

			&-item {
				font-size: $font-size-base;
				width: 300px;

				&-label {
					flex-basis: 33%;
				}
			}
		}
	}

	@mixin responsive-le-768 {

		&__block {
			flex-direction: column;
		}

		&__gallery {
			margin: 0 auto;
		}

		&__info {
			margin: 20px auto 0 auto;
		}

		&__thumb {
			display: none;
		}

		&__attr {

			&-item {
				padding: 8px 0px;

				&:first-child {
					padding-top: 16px; 
				}

				&:nth-last-child(4) {
					padding-bottom: 16px;
				}

				&:not(:first-child):not(:nth-last-child(-n+3)) {
					border-top: none;
				}
			}
		}
	}
}
