.products {
	position: relative;
	
	&__title {
		text-transform: uppercase;
	}

	&__list {
		position: relative;
		overflow: hidden; 
		white-space: nowrap;
		width: 1080px;
		margin: auto;
	}

	&__link {
		@mixin link--blue;
	}

	&__slider {
		@mixin margin-top 0.8;

		position: relative;
		width: 100%;
		margin: auto;

		&-arrow {
			@mixin arrow;

			&.m--next {
				@mixin arrow--next;
				@mixin arrow--next-base;
			}

			&.m--prev {
				@mixin arrow--prev;
				@mixin arrow--prev-base;
			}

			&:hover {

				&.m--next {
					@mixin arrow--next-yellow;
				}

				&.m--prev {
					@mixin arrow--prev-yellow;
				}
			}

			&:active {

				&.m--next {
					@mixin arrow--next-red;
				}

				&.m--prev {
					@mixin arrow--prev-red;
				}
			}
		}
	}

	&__item {	
		display: inline-block;
		width: 254px;

		&:not(:last-child) {
			margin-right: 16px;
		}

		&.m--catalog {

			&:nth-child(3n+3) {
				margin-right: 0px;
			}

			&:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
				margin-top: 36px;
			}
			
			&:not(:nth-child(3n+3)) {
				margin-right: 28px;
			}
		}
	}

	&__card {
		@mixin card 254px;
		@mixin card--yellow;
		@mixin card--product;

		max-height: 400px;

		&-image {
			object-fit: none;
			width: 100%;
			height: 200px;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			z-index: -1;
			display: inline-block;
			position: relative;
		}

		&-mask {
			display: block;
			height: 100%;
			box-shadow: inset 0 -20px 20px 0px rgb(255, 255, 255);
		}

		&-description {
			height: 150px;
			padding: 8px;
			position: relative;
		}

		&-title {
			font-size: $font-size-text;
			text-transform: uppercase;
			width: 100%;
			height: 50px;
			overflow: hidden;
			white-space: pre-wrap;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
		}

		&-price {
			font-size: 26px;
			font-weight: $font-weight-bold;
			text-align: center;
			text-transform: uppercase;
			width: 100%;

			span {
				margin: 0px 4px;
			}

			ins {
				text-decoration: none;
			}
		}

		&-more {
			@mixin margin-top 0.2;

			display: block;
			position: absolute;
			bottom: 12px;
			left: 0;
			right: 0;
			text-align: center;
			width: 100%; 
		}

		&-link {
			@mixin button;
			@mixin button--large;
			@mixin button--color-base;
		}
	}

	&__similar {
		margin-top: 40px;
	}

	@mixin responsive-ge-1440 {

		&__slider {

			&-arrow {
				display: none;
			}
		}
	}

	@mixin responsive-ge-1200 {

		&__slider {

			&-arrow {

				&.m--prod-page {
					@mixin arrow--round;

					display: block;

					&.m--next {
						@mixin arrow--next;
						@mixin arrow--round-next-base;
					}

					&.m--prev {
						@mixin arrow--prev;
						@mixin arrow--round-prev-base;
					}

					&:hover {

						&.m--next {
							@mixin arrow--round-next-yellow;	
						}

						&.m--prev {
							@mixin arrow--round-prev-yellow;
						}
					}

					&:active {

						&.m--next {
							@mixin arrow--round-next-red;
						}

						&.m--prev {
							@mixin arrow--round-prev-red;
						}
					}
				}
			}
		}
	}

	@mixin responsive-1440 {

		&__list {

			&.m--prod-page {
				width: 770px;
			}
		}

		&__item {

			&.m--prod-page  {
				width: 246px;

				&:not(:last-child) {
					margin-right: 12px;
				}
			}
		}

		&__card {

			&.m--prod-page {
				@mixin card 246px;
				@mixin card--product;
			}
		}
	}

	@mixin responsive-1200 {

		&__list {
			width: 770px;
		}
	}

	@mixin responsive-le-1200 {

		&__item {
			width: 246px;

			&:not(:last-child) {
				margin-right: 12px;
			}

			&.m--catalog {

				&:nth-child(2n+2) {
					margin-right: 0px;
				}

				&:not(:nth-child(1)):not(:nth-child(2)) {
					margin-top: 36px;
				}
				
				&:not(:nth-child(2n+2)) {
					margin-right: 28px;
				}
			}
		}

		&__card {
			@mixin card 246px;
			@mixin card--product;
		}
	}

	@mixin responsive-1024 {

		&__slider {
			width: 572px;
		}

		&__list {
			width: 508px;
		}
	}

	@mixin responsive-le-970 {

		&__slider {
			width: 90%;
		}

		&__list {
			width: 508px;
		}
	}

	@mixin responsive-le-768 {

		&__slider {
			width: 310px;
		}

		&__list {
			width: 246px;
		}

		&__item {
			margin: 0;
		
			&.m--catalog {
				margin-right: 0px;

				&:not(:nth-child(1)) {
					margin-top: 36px;
				}
			}
		}
	}
}