.sticky-menu {
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: center;
	background-color: $color-white;
	box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.16);
	position: fixed;
	height: 45px;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;

	&.is-hidden {
		display: none;
	}

	&__location {
		@mixin link--base;
		@mixin margin-right 0.9;

		display: inline-flex;
		align-items: center;
		height: 100%;
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 20px;

		&-label {
			padding-left: 20px;
			padding-right: 8px;
		}

		&:hover {

			&::before {
				background-image: url('$(dir-icons)/icon_placemark_red.svg');
			}
		}

		&::before {
			content: '';
			position: absolute;
			width: 20px;
			height: 20px;
			background-image: url('$(dir-icons)/icon_placemark.svg');
			background-position: 0 0;
			background-size: contain;
			background-repeat: no-repeat;
		}
	}

	&__contact {
		display: inline-flex;
		align-items: center;
		font-size: 18px;
		position: absolute;
		top: 0;
		right: 20px;
		height: 100%;

		&-link {
			@mixin link--base;

			line-height: 20px;
			padding-left: 28px;
			padding-right: 8px;
			position: relative;

			&:hover {

				&.m--phone::before {
					background-image: url('$(dir-icons)/icon_phone_red.svg');
				}
			}

			&::before {
				content: '';
				position: absolute;
				left: 0;
				width: 24px;
				height: 20px;
				background-position: 0 0;
				background-size: contain;
				background-repeat: no-repeat;
			}

			&.m--phone::before {
				background-image: url('$(dir-icons)/icon_phone.svg');
			}
		}
	}

	&__item {
		display: flex;
		width: 144px;
		height: 100%;
		position: relative;

		&-link {
			@mixin link--blue;

			display: flex;
			flex-flow: row wrap;
			align-items: center;
			justify-content: center;
			position: relative;
			margin: auto;
			height: 80%;
			width: 92%;
		}

		&-icon {
			display: flex;
			justify-content: center;
			width: 20px;
			height: 20px;
			object-fit: contain;
		}

		&-title {
			font-size: 12px;
			font-weight: $font-weight-bold;
			text-align: left;
			margin-left: 8px;
			width: 50%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&:not(:last-child) {
			margin-right: 16px;
		}

		&:hover {
			background-color: $color-bright-yellow;
		}
	}

	@mixin responsive-le-1200 {

		&__item {
			width: 120px;
		}

		&__contact {
			font-size: 14px;
		}
	}

	@mixin responsive-le-970 {
		display: none;
	}
}