.stocks {
	
	&__header {

		&.m--home-page {
			text-transform: uppercase;
		}

		&.m--stocks-news-page {
			display: none;
		}

		&.m--prod-group {
			font-size: 26px;
			margin-bottom: 24px;
		}

		&.m--lombard-cat,
		&.m--news-page,
		&.m--stock-page {
			font-size: 20px;
			text-align: center;
			margin-bottom: 12px;
		}
	}

	&__link {
		@mixin link--blue;

		width: 100%;

		&.m--picture {

			&:hover {
				border: 4px solid $color-bright-yellow;
			}
		}
	}

	&__list {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		position: relative;

		&.m--prod-group {
			flex-direction: column;
		}

		&.m--stocks-news-page {
			flex-flow: row wrap;
			margin-top: 0;
		}

		&.m--lombard,
		&.m--lombard-cat,
		&.m--news-page,
		&.m--stock-page {
			justify-content: center;
			flex-flow: row wrap;
		}
	}

	&__item {
		display: flex;
		flex-basis: 48%;

		&-banner {
			object-fit: contain;
			width: 100%;
			height: 100%;
		}

		&.m--prod-group {

			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}

		&.m--stocks-news-page {

			&:nth-child(3n+3) {
				margin-top: 32px;
			}

			&:nth-child(4n+4) {
				margin-top: 32px;
			}
		}

		&.m--lombard {
			flex-basis: 28%;

			&:not(:nth-child(3n+1)) {
				margin-left: 12px;
			}

			&:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
				margin-top: 12px;
			}
		}
	}

	@mixin responsive-ge-1440 {

		&__item {

			&.m--lombard-cat,
			&.m--news-page,
			&.m--stock-page {

				&:nth-child(2n) {
					margin-left: 12px; 
				}

				&:not(:nth-child(1)):not(:nth-child(2)) {
					margin-top: 12px;
				}
			}
		}
	}

	@mixin responsive-le-1200 {

		&__header {

			&.m--lombard-cat,
			&.m--news-page,
			&.m--stock-page {
				text-align: left;
				margin-bottom: 24px;
			}
		}

		&__item {

			&.m--lombard-cat,
			&.m--news-page,
			&.m--stock-page {
				flex-basis: 28%;

				&:not(:nth-child(3n+1)) {
					margin-left: 12px;
				}

				&:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
					margin-top: 12px;
				}
			}
		}
	}

	@mixin responsive-1024 {

		&__list {
			min-height: 250px;

			&.m--lombard-cat,
			&.m--news-page,
			&.m--stock-page {
				min-height: auto;
			}
		}

		&__item {

			&.m--stocks-news-page {

				&:nth-child(3n+3) {
					margin-top: 20px;
				}

				&:nth-child(4n+4) {
					margin-top: 20px;
				}
			}
		}
	}

	@mixin responsive-le-970 {
		width: 100%;
		margin-top: 40px;

		&.m--stocks-news-page {
			margin-top: 0;
		}

		&__list {

			&.m--stocks-news-page {
				flex-flow: row wrap;
				justify-content: center;
				margin: auto;
			}
		}

		&__item {

			&.m--stocks-news-page {
				flex-basis: 100%;
				max-height: 310px;

				&:not(:first-child) {
					margin-top: 20px; 
				}
			}
		}
	}

	@mixin responsive-le-640 {

		&__list {

			&.m--home-page,
			&.m--lombard-cat,
			&.m--lombard,
			&.m--news-page,
			&.m--stock-page,
			&.m--stocks-news-page {
				flex-direction: column;
				justify-content: center;
				margin: auto;
			}
		}

		&__item {
			max-height: 250px;
			max-width: 250px;

			&.m--lombard-cat,
			&.m--news-page,
			&.m--stock-page {

				&:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
					margin-top: 16px;
				}

				&:not(:nth-child(3n+1)) {
					margin-left: 0px;
				}
			}

			&.m--lombard {

				&:not(:nth-child(3n+1)) {
					margin-left: 0px;
				}

				&:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
					margin-top: 16px;
				}
			}

			&:not(:first-child) {
				margin-top: 16px;
			}
		}
	}
}