.toggle-menu {
	font-size: 18px;

	&__trigger {
		display: none;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 80px;

		&-nav {
			width: 36px;
			height: 24px;
			position: relative;
		}

		&.is-active {
			background-color: $color-deep-blue;
			border: 1px solid $color-grayish-blue;
		}

		&.is-active &-nav {
			width: 36px;
			height: 36px;
		}
	}

	&__icon {

		&.m--stripe {
			display: block;
			background-color: $color-deep-blue;
			border-radius: 0px;
			height: 4px;
			width: 100%;
			position: absolute;
			left: 0;
			right: 0;

			&:nth-child(2) {
				top: 10px;
			}

			&:nth-child(3) {
				top: 20px;
			}
		}
	}

	&__trigger.is-active &__icon.m--stripe {
		background-color: $color-white;
		height: 3px;
		width: 120%;
		top: 16px;
		left: -4px;

		&:nth-child(1) {
			transform: rotate(45deg);
		}

		&:nth-child(2) {
			transform: rotate(-45deg);
		}

		&:nth-child(3) {
			display: none;
		}
	}

	&__list {
		position: absolute;
		width: 100%;
		top: 90px;
		left: 0;
	}

	&__item {
		display: block;
		position: relative;
		background-color: $color-deep-blue;
		width: 100%;
		cursor: pointer;

		&.m--white {
			background-color: $color-white;
			color: $color-deep-blue;
		}

		&.m--big {
			height: 76px;
			cursor: default;
			padding: 0 20px;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&.m--small {
			height: 48px;
			cursor: default;
			padding: 0 32px;
			font-size:  $font-size-base;
			font-weight: $font-weight-semibold;
		}

		&-link {
			@mixin link--white;

			display: inline-flex;
			align-items: center;
			position: relative;
			height: 56px;
			padding-left: 24px;
			padding-right: 32px;

			&::after {
				content: '';
				position: absolute;
				right: 0;
				background-position: center center;
				background-size: contain;
				background-repeat: no-repeat;
			}

			&.has-subitems::after {
				@mixin arrow--down;
				@mixin arrow--down-white;
			}
		}

		&-icon {
			display: flex;
			align-items: center;
			width: 20px;
			height: 20px;
			object-fit: contain;
			margin-right: 8px;
		}

		&:not(:last-child) {
			border-bottom: 1px solid $color-grayish-blue;
		}

		&.is-active {
			background-color: $color-bright-yellow;
		}

		&.is-active &-link {
			@mixin link--blue;

			&.m--subitem::before {
				@mixin arrow--down;
				@mixin arrow--down-blue;
			}
		}
	}

	&__subitems {
		display: none;
		top: 56px;
		width: 100%;

		&.is-opened {
			display: inline;
		}
	}

	&__subitem {
		display: block;
		position: relative;
		background-color: $color-deep-blue;
		border-bottom: 1px solid $color-grayish-blue;
		height: 56px;
		padding-left: 40px;
		cursor: pointer;

		&-link {
			@mixin link--white;

			display: inline-flex;
			align-items: center;
			position: relative;
			height: 56px;
			width: 100%;
		}

		&.is-active {
			background-color: $color-bright-yellow;
		}
	}

	&__contact {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 48px;

		&-link {
			@mixin link--blue;

			font-size: 16px;
			font-weight: $font-weight-semibold;
			line-height: 20px;
			padding-left: 28px;
			padding-right: 8px;
			position: relative;

			&::before {
				content: '';
				position: absolute;
				left: 0;
				width: 24px;
				height: 20px;
				background-position: center center;
				background-size: contain;
				background-repeat: no-repeat;
			}

			&.m--phone::before {
				background-image: url('$(dir-icons)/icon_phone.svg');
			}
		}

		&-caption {
			text-align: right;
		}
	}

	&__service {
		display: flex;
		align-items: center;
		height: 100%;

		&-link {
			@mixin link--white;

			width: 80px;
			height: 100%;
			text-align: center;
			display: flex;
			flex-flow: column-reverse;
			text-decoration: none;
			padding: 4px;
			font-size: 13px;
			font-weight: $font-weight-bold;
			line-height: 1;
			text-transform: unset;
			position: relative;

			&:not(:last-child) {
				margin-right: 8px;
			}

			&::before {
				content: '';
				position: absolute;
				width: 100%;
				height: 32px;
				top: 8px;
				left: 0;
				background-position: center center;
				background-size: contain;
				background-repeat: no-repeat;
			}

			&.m--payment::before {
				background-image: url('$(dir-icons)/icon_percent_white.svg');
			}

			&.m--cabinet::before {
				background-image: url('$(dir-icons)/icon_lock_n_key_white.svg');
			}
		}
	}

	@mixin responsive-le-970 {

		&__trigger {
			display: flex;
		}
	}
}

@-moz-document url-prefix() {
    .toggle-menu {
        font-weight: $font-weight-light;
    }
}