.top-menu {
	display: flex;
	font: $font-weight-regular $font-size-text/$line-height-text $font-family-base; 
	height: 100%;

	&__item {
		display: flex;
		position: relative;
		background-color: $color-white;
		width: 165px;
		cursor: pointer;

		&-link {
			@mixin link--blue;

			display: flex;
			align-items: center;
			position: relative;
			margin: auto;
			height: 100%;
			width: 100%;
			justify-content: center;
		}

		&:hover {

			&::before {
				content: '';
				position: absolute;
				top: 10px;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: $color-bright-yellow;
				border-top-left-radius: 20px;
				border-top-right-radius: 20px;
			}
		}
	}

	&__subitems {
		display: none;
		position: absolute;
		left: 0;
		top: 100%;
		min-width: 100%;
		background-color: $color-bright-yellow;
	}

	&__subitem {
		position: relative;
		height: 45px;
		width: 216px;

		&-link {
			@mixin link--blue;

			display: flex;
			align-items: center;
			padding-left: 12px;
			width: 100%;
			height: 100%;
		}

		&:hover {
			background-color: $color-deep-blue;
			color: $color-white;
		}

		&:hover &-link {
			@mixin link--white;
		}
	}

	&__item:hover &__subitems {
        display: block;
	}

	@mixin responsive-le-1200 {
		font-size: 14px;

		&__item {
			width: 135px;
		}
	}

	@mixin responsive-le-970 {
		display: none;
	}
}

@-moz-document url-prefix() {
    .top-menu {
        font-weight: $font-weight-light;
    }
}