@define-mixin arrow {
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 1;
    cursor: pointer;
    width: 24px;
    height: 27px;

    &.is-disabled {
		cursor: default;
		opacity: 0.6;
	}
}

@define-mixin arrow--prev {
	left: 0;
}

@define-mixin arrow--next {
	right: 0;
}

@define-mixin arrow--next-base {
	background-image: url('$(dir-icons)/icon_arrow-right.svg');
}

@define-mixin arrow--next-yellow {
	background-image: url('$(dir-icons)/icon_arrow-right_yellow.svg');
}

@define-mixin arrow--next-red {
	background-image: url('$(dir-icons)/icon_arrow-right_red.svg');
}

@define-mixin arrow--prev-base {
	background-image: url('$(dir-icons)/icon_arrow-left.svg');
}

@define-mixin arrow--prev-yellow {
	background-image: url('$(dir-icons)/icon_arrow-left_yellow.svg');
}

@define-mixin arrow--prev-red {
	background-image: url('$(dir-icons)/icon_arrow-left_red.svg');
}

@define-mixin arrow--round {
	width: 64px;
	height: 64px;

	&.m--prod-page {
		width: 57px;
		height: 57px;
	}

	@mixin responsive-le-1024 {
		width: 57px;
		height: 57px;
	}
}

@define-mixin arrow--round-next-base {
	background-image: url('$(dir-icons)/icon_arrow-round-right.svg');
}

@define-mixin arrow--round-next-yellow {
	background-image: url('$(dir-icons)/icon_arrow-round-right_yellow.svg');
}

@define-mixin arrow--round-next-red {
	background-image: url('$(dir-icons)/icon_arrow-round-right_red.svg');
}

@define-mixin arrow--round-prev-base {
	background-image: url('$(dir-icons)/icon_arrow-round-left.svg');
}

@define-mixin arrow--round-prev-yellow {
	background-image: url('$(dir-icons)/icon_arrow-round-left_yellow.svg');
}

@define-mixin arrow--round-prev-red {
	background-image: url('$(dir-icons)/icon_arrow-round-left_red.svg');
}

@define-mixin arrow--down {
	width: 16px;
	height: 16px;
}

@define-mixin arrow--down-white {
	background-image: url('$(dir-icons)/icon_arrow-down_white.svg');
}

@define-mixin arrow--down-blue {
	background-image: url('$(dir-icons)/icon_arrow-down_blue.svg');
}