@define-mixin button {
	display: inline-flex;
	justify-content: center;
	line-height: 1;
	border-radius: 10px;
	border-style: solid;
	border-width: 3px;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;

	&:disabled {
		cursor: not-allowed;
	}
}

@define-mixin button--color $background-color, $border-color, $label-color {
	background-color: $background-color;
	border-color: $border-color;
	color: $label-color;
}

@define-mixin button--color-base {
	@mixin button--color $color-white, $color-bright-yellow, $color-deep-blue;

	box-shadow: none;
	font-size: 18px;

	&:hover:not(:disabled) {
		@mixin button--color $color-bright-yellow, $color-bright-yellow, $color-deep-blue;
	}

	&:active {
		@mixin button--color $color-bright-red, $color-bright-red, $color-white;	
	}
}

@define-mixin button--color-yellow {
	@mixin button--color $color-bright-yellow, $color-bright-yellow, $color-deep-blue;

	&:hover:not(:disabled) {
		@mixin button--color $color-bright-red, $color-bright-red, $color-white;
	}
}

@define-mixin button--color-blue {
	@mixin button--color $color-white, $color-deep-blue, $color-deep-blue;

	&:hover:not(:disabled) {
		@mixin button--color $color-bright-yellow, $color-bright-yellow, $color-deep-blue;
	}

	&:active {
		@mixin button--color $color-bright-red, $color-bright-red, $color-white;	
	}
}

@define-mixin button--color-red {
	@mixin button--color $color-bright-red, $color-bright-red, $color-white;

	border-radius: 3px;

	&:hover:not(:disabled) {
		@mixin button--color $color-bright-yellow, $color-bright-yellow, $color-deep-blue;
	}
}

@define-mixin button--large {
	width: 136px;
	padding: 8px 0px;
}

@define-mixin button--small {
	width: 130px;
	padding: 12px 0px;
}

@define-mixin button--shadow {
	box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.16);
}
