@define-mixin card $width {
	position: relative;
	width: calc($width - 14px);
	padding: 8px;
	margin: 0 7px 7px 7px;
	border-radius: 10px;
	border-style: solid;
	border-width: 3px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.16);
}

@define-mixin card--color $border-color {
	border-color: $border-color;
}

@define-mixin card--yellow {
	@mixin card--color $color-bright-yellow;
}

@define-mixin card--red {
	@mixin card--color $color-bright-red;
}

@define-mixin card--product {
	padding: 0;
}

@define-mixin card--filter {
	padding: 24px;
	margin: 0px;
}