@define-mixin device-desktop {
    .body--browser_desktop & {
        @mixin-content;
    }
}

@define-mixin device-tablet {
    .body--browser_tablet & {
        @mixin-content;
    }
}

@define-mixin device-mobile {
    .body--browser_mobile & {
        @mixin-content;
    }
}

@define-mixin device-device {
    .body--browser_tablet &,
    .body--browser_mobile & {
        @mixin-content;
    }
}
