@define-mixin select {
	appearance: none;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 16px;
    padding-left: 8px;
    height: 35px;
    border-width: 3px;
    border-style: solid;
    background-image: url('$(dir-icons)/icon_arrow-down_yellow.svg');
	background-repeat: no-repeat;
	background-position: 95% center;
	box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.16);  

    &::-ms-expand {
        display: none;
    }

    option[selected] {
    	@mixin select--color-red;
	}
}

@define-mixin select--color $background-color, $border-color, $text-color {
	background-color: $background-color;
	border-color: $border-color;
	color: $text-color;
}

@define-mixin select--color-yellow {
	@mixin select--color $color-white, $color-bright-yellow, $color-deep-blue;
}

@define-mixin select--color-red {
	@mixin select--color $color-white, $color-bright-red, @color-deep-blue;
}

@define-mixin input {
	appearance: none;
	width: 20px;
	height: 20px;
	border-width: 2px;
	border-style: solid;
	box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.16);
	cursor: pointer;

	&[type=checkbox]:checked {
	    @mixin input--color-red;

	    background-image: url('$(dir-icons)/icon_checked_white.svg');
	    background-repeat: no-repeat;
	    background-position: center center;
	}
}

@define-mixin input--color $background-color, $border-color {
	background-color: $background-color;
	border-color: $border-color;
} 

@define-mixin input--color-yellow {
	@mixin input--color $color-white, $color-bright-yellow;
}

@define-mixin input--color-red {
	@mixin input--color $color-bright-red, $color-bright-red; 
}