@define-mixin container {
    width: $container-width;
    margin-left: auto;
    margin-right: auto;

    @mixin responsive-1200 {
        max-width: calculate($breakpoint-970 - $margin-horizontal-1200 * 2);
    }

    @mixin responsive-1024 {
        max-width: calculate($breakpoint-970 - $margin-horizontal-1024 * 2);
    }

    @mixin responsive-970 {
        max-width: calculate($breakpoint-768 - $margin-horizontal-970 * 2);
    }

    @mixin responsive-768 {
        max-width: calculate($breakpoint-640 - $margin-horizontal-768 * 2);
    }

    @mixin responsive-640 {
        max-width: calculate($breakpoint-480 - $margin-horizontal-640 * 2);
    }

    @mixin responsive-480 {
        max-width: calculate($breakpoint-375 - $margin-horizontal-480 * 2);
    }

    @mixin responsive-le-375 {
        max-width: calculate($min-width - $margin-horizontal-375 * 2);
    }
}

@define-mixin container--large {
    width: $container-width-large;
    margin-left: auto;
    margin-right: auto;

    @mixin responsive-1440 {
        max-width: calculate($container-width-large - $margin-horizontal-1440 * 2)
    }

    @mixin responsive-1200 {
        max-width: calculate($breakpoint-1024 - $margin-horizontal-1200 * 2);
    }

    @mixin responsive-le-1024 {
        max-width: 92%;
    }

    @mixin responsive-480 {
        max-width: calculate($breakpoint-375 - $margin-horizontal-480 * 2);
    }

    @mixin responsive-le-375 {
        max-width: calculate($min-width - $margin-horizontal-375 * 2);
    }
}
