@define-mixin link $color, $hover-color, $decoration {
    color: $color;
    text-decoration: $decoration;

    &:hover {
        color: $hover-color;
    }

    &:active {
    	background: inherit;
    }
}

@define-mixin link--base {
    @mixin link $color-deep-blue, $color-bright-red, none;
}

@define-mixin link--base-underline {
    @mixin link $color-deep-blue, $color-bright-red, underline;
}

@define-mixin link--blue {
    @mixin link $color-deep-blue, $color-deep-blue, none;
}

@define-mixin link--white {
    @mixin link $color-white, $color-white, none;
}

@define-mixin link--red {
    @mixin link $color-bright-red, $color-bright-red, none; 
}

@define-mixin link--red-underline {
    @mixin link $color-bright-red, $color-bright-red, underline; 
}