@define-mixin margin-left $coef: 1 {
    @mixin responsive-prop margin-left, margin-horizontal, $coef;
}

@define-mixin margin-right $coef: 1 {
    @mixin responsive-prop margin-right, margin-horizontal, $coef;
}

@define-mixin padding-left $coef: 1 {
    @mixin responsive-prop padding-left, margin-horizontal, $coef;
}

@define-mixin padding-right $coef: 1 {
    @mixin responsive-prop padding-right, margin-horizontal, $coef;
}

@define-mixin position-left $coef: 1 {
    @mixin responsive-prop left, margin-horizontal, $coef;
}

@define-mixin position-right $coef: 1 {
    @mixin responsive-prop right, margin-horizontal, $coef;
}

@define-mixin margin-top $coef: 1 {
    @mixin responsive-prop margin-top, margin-vertical, $coef;
}

@define-mixin margin-bottom $coef: 1 {
    @mixin responsive-prop margin-bottom, margin-vertical, $coef;
}

@define-mixin padding-top $coef: 1 {
    @mixin responsive-prop padding-top, margin-vertical, $coef;
}

@define-mixin padding-bottom $coef: 1 {
    @mixin responsive-prop padding-bottom, margin-vertical, $coef;
}

@define-mixin position-top $coef: 1 {
    @mixin responsive-prop top, margin-vertical, $coef;
}

@define-mixin position-bottom $coef: 1 {
    @mixin responsive-prop bottom, margin-vertical, $coef;
}
