@define-mixin responsive-1620 {
    @media (min-width: calculate($breakpoint-1440 + 1px)) {
        @mixin-content;
    }
}

@define-mixin responsive-1440 {
    @media (min-width: calculate($breakpoint-1200 + 1px)) and (max-width: $breakpoint-1440) {
        @mixin-content;
    }
}

@define-mixin responsive-le-1440 {
    @media (max-width: $breakpoint-1440) {
        @mixin-content;
    }
}

@define-mixin responsive-ge-1440 {
    @media (min-width: calculate($breakpoint-1200 + 1px)) {
        @mixin-content;
    }
}

@define-mixin responsive-1200 {
    @media (min-width: calculate($breakpoint-1024 + 1px)) and (max-width: $breakpoint-1200) {
        @mixin-content;
    }
}

@define-mixin responsive-le-1200 {
    @media (max-width: $breakpoint-1200) {
        @mixin-content;
    }
}

@define-mixin responsive-ge-1200 {
    @media (min-width: calculate($breakpoint-1024 + 1px)) {
        @mixin-content;
    }
}

@define-mixin responsive-1024 {
    @media (min-width: calculate($breakpoint-970 + 1px)) and (max-width: $breakpoint-1024) {
        @mixin-content;
    }
}

@define-mixin responsive-le-1024 {
    @media (max-width: $breakpoint-1024) {
        @mixin-content;
    }
}

@define-mixin responsive-ge-1024 {
    @media (min-width: calculate($breakpoint-970 + 1px)) {
        @mixin-content;
    }
}

@define-mixin responsive-970 {
    @media (min-width: calculate($breakpoint-768 + 1px)) and (max-width: $breakpoint-970) {
        @mixin-content;
    }
}

@define-mixin responsive-le-970 {
    @media (max-width: $breakpoint-970) {
        @mixin-content;
    }
}

@define-mixin responsive-ge-970 {
    @media (min-width: calculate($breakpoint-768 + 1px)) {
        @mixin-content;
    }
}

@define-mixin responsive-768 {
    @media (min-width: calculate($breakpoint-640 + 1px)) and (max-width: $breakpoint-768) {
        @mixin-content;
    }
}

@define-mixin responsive-le-768 {
    @media (max-width: $breakpoint-768) {
        @mixin-content;
    }
}

@define-mixin responsive-ge-768 {
    @media (min-width: calculate($breakpoint-640 + 1px)) {
        @mixin-content;
    }
}

@define-mixin responsive-640 {
    @media (min-width: calculate($breakpoint-480 + 1px)) and (max-width: $breakpoint-640) {
        @mixin-content;
    }
}

@define-mixin responsive-le-640 {
    @media (max-width: $breakpoint-640) {
        @mixin-content;
    }
}

@define-mixin responsive-ge-640 {
    @media (min-width: calculate($breakpoint-480 + 1px)) {
        @mixin-content;
    }
}

@define-mixin responsive-480 {
    @media (min-width: calculate($breakpoint-375 + 1px)) and (max-width: $breakpoint-480) {
        @mixin-content;
    }
}

@define-mixin responsive-le-480 {
    @media (max-width: $breakpoint-480) {
        @mixin-content;
    }
}

@define-mixin responsive-ge-480 {
    @media (min-width: calculate($breakpoint-375 + 1px)) {
        @mixin-content;
    }
}

@define-mixin responsive-375 {
    @media (min-width: calculate($min-width + 1px)) and (max-width: $breakpoint-375) {
        @mixin-content;
    }
}

@define-mixin responsive-le-375 {
    @media (max-width: $breakpoint-375) {
        @mixin-content;
    }
}

@define-mixin responsive-ge-375 {
    @media (min-width: calculate($min-width + 1px)) {
        @mixin-content;
    }
}

@define-mixin responsive-prop $prop, $var, $coef: 1, $delta: 0px {
    $value: calculate($($(var)-1440) * $coef + $delta);
    $(prop): calculate(ceil($value));

    @mixin responsive-1440 {
        $value: calculate($($(var)-1440) * $coef + $delta);
        $(prop): calculate(ceil($value));
    }

    @mixin responsive-1200 {
        $value: calculate($($(var)-1200) * $coef + $delta);
        $(prop): calculate(ceil($value));
    }

    @mixin responsive-1024 {
        $value: calculate($($(var)-1024) * $coef + $delta);
        $(prop): calculate(ceil($value));
    }

    @mixin responsive-970 {
        $value: calculate($($(var)-970) * $coef + $delta);
        $(prop): calculate(ceil($value));
    }

    @mixin responsive-768 {
        $value: calculate($($(var)-768) * $coef + $delta);
        $(prop): calculate(ceil($value));
    }

    @mixin responsive-640 {
        $value: calculate($($(var)-640) * $coef + $delta);
        $(prop): calculate(ceil($value));
    }

    @mixin responsive-480 {
        $value: calculate($($(var)-480) * $coef + $delta);
        $(prop): calculate(ceil($value));
    }

    @mixin responsive-375 {
        $value: calculate($($(var)-375) * $coef + $delta);
        $(prop): calculate(ceil($value));
    }
}
