@define-mixin h1 {
    @mixin margin-bottom 1.2;

    font-size: $font-size-h1;
    font-weight: $font-weight-bold;
    text-transform: uppercase;

    &:last-child {
        margin-bottom: 0;
    }

    @mixin responsive-le-1200 {
        font-size: $font-size-h1-le-1200;
    }

    @mixin responsive-le-768 {
        font-size: $font-size-h1-le-768;
    }

    @mixin responsive-le-640 {
        text-align: center;

        &.m--block-yellow {
            width: 100%;
            height: 90px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $color-bright-yellow;
            position: absolute;
            top:0;
            left: 0;
            right: 0;
            padding: 0px 40px; 
        }
    }
}

@define-mixin h2 {
    @mixin margin-top 1.6;
    @mixin margin-bottom 0.8;

    font-size: $font-size-h2;
    font-weight: $font-weight-bold;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    @mixin responsive-le-1200 {
        font-size: $font-size-h2-le-1200;
    }

    @mixin responsive-le-970 {
        text-align: center;
    }
}

@define-mixin h3 {
    @mixin margin-top 1;
    @mixin margin-bottom 0.6;

    font-size: $font-size-h3;
    font-weight: $font-weight-bold;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    @mixin responsive-le-1200 {
        font-size: $font-size-h3-le-1200;
    }
}

@define-mixin h4 {
    font-size: $font-size-h4;
    font-weight: $font-weight-bold;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    @mixin responsive-le-1200 {
        font-size: $font-size-h4-le-1200;
    }
}

@define-mixin p {
    margin-bottom: 8px;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

@define-mixin ul {
    margin-top: 12px;
    margin-bottom: 12px;

    li {
        list-style: disc;
        list-style-position: outside;
        padding-left: 8px;
        margin-left: 16px;

        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }
}

@define-mixin ol {
    margin-top: 12px;
    margin-bottom: 12px;

    li {
        list-style: decimal;
        list-style-position: outside;
        padding-left: 8px;
        margin-left: 16px;

        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }
}

@define-mixin hr {

}

@define-mixin table {
    width: 100%;

    th,
    td {
        padding: 6px 8px;
        font-size: 16px;
        text-align: left;
        vertical-align: middle;
    }

    th,
    thead td {
        border-bottom: 2px solid $color-deep-blue;
        font-weight: bold;
    }

    tbody td {
        border-bottom: 1px solid $color-deep-blue;
    }
}

@define-mixin format {
    h1:not(.nostyle) {
        @mixin h1;
    }

    h2:not(.nostyle) {
        @mixin h2;
    }

    h3:not(.nostyle) {
        @mixin h3;
    }

    h4:not(.nostyle) {
        @mixin h4;
    }

    p:not(.nostyle) {
        @mixin p;
    }

    ul:not(.nostyle) {
        @mixin ul;
    }

    ol:not(.nostyle) {
        @mixin ol;
    }

    hr:not(.nostyle) {
        @mixin hr;
    }

    a:not(.nostyle) {
        @mixin link--base;
    }

    table:not(.nostyle) {
        @mixin table;
    }

    b:not(.nostyle),
    strong:not(.nostyle) {
        font-weight: bold;
    }

    i:not(.nostyle),
    em:not(.nostyle) {
        font-style: italic;
    }

    u:not(.nostyle),
    ins:not(.nostyle) {
        text-decoration: underline;
    }

    strike:not(.nostyle),
    del:not(.nostyle) {
        text-decoration: line-through;
    }
}

@define-mixin text {
    @mixin format;

    font: $font-weight-regular $font-size-text/$line-height-text $font-family-text;
    color: $color-text;

    @mixin responsive-le-1200 {
        font-size: $font-size-text-le-1200;
    }

    @mixin responsive-le-768 {
        font-size: $font-size-text-le-768;
    }
}

@-moz-document url-prefix() {
    @define-mixin text {
        @mixin format;

        font: $font-weight-light $font-size-text/$line-height-text $font-family-text;
        color: $color-text;

        @mixin responsive-le-1200 {
            font-size: $font-size-text-le-1200;
        }

         @mixin responsive-le-768 {
            font-size: $font-size-text-le-768;
        }
    }
}