/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-image,
.fancybox-inner,
.fancybox-nav,
.fancybox-nav span,
.fancybox-outer,
.fancybox-skin,
.fancybox-tmp,
.fancybox-wrap,
.fancybox-wrap iframe,
.fancybox-wrap object {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  vertical-align: top
}
.fancybox-inner {
  overflow: unset!important
}
.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020
}
.fancybox-skin {
  padding-top: 72px!important;
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  border-radius: 4px
}
.fancybox-opened {
  z-index: 8030
}
.fancybox-opened .fancybox-skin {
  box-shadow: 0 10px 25px rgba(0,0,0,.5)
}
.fancybox-inner,
.fancybox-outer {
  position: relative
}
.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch
}
.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap
}
.fancybox-iframe,
.fancybox-image {
  display: block;
  width: 100%;
  height: 100%
}
.fancybox-image {
  max-width: 100%;
  max-height: 100%
}
#fancybox-loading,
.fancybox-close,
.fancybox-next span,
.fancybox-prev span {
  background-image: url(/i/fancybox/fancybox_sprite.png)
}
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: .8;
  cursor: pointer;
  z-index: 8060
}
#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url(/i/fancybox/fancybox_loading.gif) center center no-repeat
}
.fancybox-close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 8040;
  background-image: url(/i/fancybox/modal_close.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain
}
.fancybox-close:hover {
  background-image: url(/i/fancybox/modal_close_yellow.svg)
}
.fancybox-close:active {
  background-image: url(/i/fancybox/modal_close_red.svg)
}
.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url(/i/fancybox/blank.gif);
  -webkit-tap-highlight-color: transparent;
  z-index: 8040
}
.fancybox-prev {
  left: 0
}
.fancybox-next {
  right: 0
}
.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden
}
.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px
}
.fancybox-next span {
  right: 10px;
  background-position: 0 -72px
}
.fancybox-nav:hover span {
  visibility: visible
}
.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible!important
}
.fancybox-lock {
  overflow: hidden!important;
  width: auto
}
.fancybox-lock body {
  overflow: hidden!important
}
.fancybox-lock-test {
  overflow-y: hidden!important
}
.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: rgba(0,31,67,.4)
}
.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0
}
.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll
}
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050
}
.fancybox-opened .fancybox-title {
  visibility: visible
}
.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center
}
.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: 0 0;
  background: rgba(0,0,0,.8);
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #fff;
  font-weight: 700;
  line-height: 24px;
  white-space: nowrap
}
.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff
}
.fancybox-title-inside-wrap {
  padding-top: 10px
}
.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0,0,0,.8)
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
only screen and (min--moz-device-pixel-ratio:1.5),
only screen and (min-device-pixel-ratio:1.5) {
  #fancybox-loading,
  .fancybox-next span,
  .fancybox-prev span {
    background-image: url(/i/fancybox/fancybox_sprite@2x.png);
    background-size: 44px 152px
  }
  #fancybox-loading div {
    background-image: url(/i/fancybox/fancybox_loading@2x.gif);
    background-size: 24px 24px
  }
}
.page__container {
  width: 1080px;
  margin-left: auto;
  margin-right: auto
}
@media (min-width:1025px) and (max-width:1200px) {
  .page__container {
    max-width: 890px
  }
}
@media (min-width:971px) and (max-width:1024px) {
  .page__container {
    max-width: 898px
  }
}
@media (min-width:769px) and (max-width:970px) {
  .page__container {
    max-width: 704px
  }
}
@media (min-width:641px) and (max-width:768px) {
  .page__container {
    max-width: 592px
  }
}
@media (min-width:481px) and (max-width:640px) {
  .page__container {
    max-width: 432px
  }
}
@media (min-width:376px) and (max-width:480px) {
  .page__container {
    max-width: 327px
  }
}
@media (max-width:375px) {
  .page__container {
    max-width: 351px
  }
}
.page-with-form__form {
  margin-top: 20px
}
@media (min-width:1201px) and (max-width:1440px) {
  .page-with-form__form {
    margin-top: 20px
  }
}
@media (min-width:1025px) and (max-width:1200px) {
  .page-with-form__form {
    margin-top: 20px
  }
}
@media (min-width:971px) and (max-width:1024px) {
  .page-with-form__form {
    margin-top: 16px
  }
}
@media (min-width:769px) and (max-width:970px) {
  .page-with-form__form {
    margin-top: 16px
  }
}
@media (min-width:641px) and (max-width:768px) {
  .page-with-form__form {
    margin-top: 14px
  }
}
@media (min-width:481px) and (max-width:640px) {
  .page-with-form__form {
    margin-top: 12px
  }
}
@media (min-width:376px) and (max-width:480px) {
  .page-with-form__form {
    margin-top: 10px
  }
}
@media (min-width:376px) and (max-width:375px) {
  .page-with-form__form {
    margin-top: 10px
  }
}
.personal-office__breadcrumbs {
  display: none
}
.personal-office__height {
  position: static;
  height: auto;
  margin-top: 30px
}
.personal-office__field {
  position: relative;
  border: solid 3px #001f43;
  font-size: 20px;
  padding: 0 15px 0 15px;
  height: 45px
}
.personal-office__fieldwidth {
  width: 400px;
  position: relative
}
.personal-office__center {
  display: block;
  margin-left: auto;
  margin-right: auto
}
.personal-office__textblock {
  position: relative
}
.personal-office__button {
  border: solid 3px #001f43;
  color: #001f43;
  border-radius: 5px;
  font-size: 17px;
  padding: 5px 25px 5px 25px
}
.personal-office__link {
  color: #ff4852;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 5px 5px 5px 25px
}
.personal-office__linksbottom {
  position: relative
}
.personal-office__warningincorrect {
  font-size: 18px;
  color: #ff4852
}
.personal-office__warningdisplay {
  display: none
}
.personal-office__icon {
  position: absolute;
  top: 0;
  right: 15px;
  width: 45px;
  height: 45px;
  background-image: url(/i/icons/eye.svg);
  background-position: 0 0;
  background-size: contain
}
.personal-office__toptext {
  display: table-cell
}
.personal-office__form {
  float: left
}
.personal-office__paragraph {
  margin-bottom: 48px
}
.personal-office__offset {
  margin-bottom: 30px;
  position: relative
}
@media screen and (max-width:1200px) {
  .personal-office__link {
    font-size: 17px
  }
}
@media screen and (max-width:970px) {
  .personal-office__toptext {
    display: table-row
  }
  .personal-office__link {
    padding: 5px
  }
}
@media screen and (max-width:768px) {
  .personal-office__form {
    position: absolute;
    top: 50px
  }
  .personal-office__textblock {
    position: absolute;
    top: 480px;
    text-align: left
  }
  .personal-office__linksbottom {
    position: absolute;
    top: 440px;
    z-index: 999
  }
  .personal-office__height {
    height: 600px;
    margin-top: 0
  }
}
@media screen and (max-width:640px) {
  .personal-office__breadcrumbs {
    display: block;
    position: relative;
    top: 50px
  }
  .personal-office__form {
    position: absolute;
    top: 90px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto
  }
  .personal-office__fieldwidth {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto
  }
  .personal-office__textblock {
    position: absolute;
    top: 530px;
    text-align: left
  }
  .personal-office__linksbottom {
    position: absolute;
    top: 480px;
    z-index: 999
  }
}
@media screen and (max-width:480px) {
  .personal-office__form {
    width: 90%
  }
  .personal-office__fieldwidth {
    width: 90%
  }
  .personal-office__icon {
    display: none
  }
  .personal-office__warningincorrect {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: none
  }
}
@media screen and (max-width:375px) {
  .personal-office__form {
    margin-left: 0
  }
  .personal-office__fieldwidth {
    margin-left: 0
  }
  .personal-office__textblock {
    width: 70%
  }
  .personal-office__toptext {
    float: left;
    text-align: left
  }
}
.personal-office .loans__paragraph {
  margin-bottom: 48px
}
.personal-office .loans__h1yellow {
  background: #fff226;
  display: inline-block
}
.personal-office .loans__table {
  display: table;
  width: 100%;
  border-left: solid 1px #001f43
}
.personal-office .loans__row {
  display: table-row
}
.personal-office .loans__general-cell-active {
  display: table-cell;
  background: #ffffb2;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 20px 10px 20px 10px;
  margin-top: 20px;
  border-right: solid 1px #001f43;
  border-bottom: solid 1px #001f43
}
.personal-office .loans__cell-active {
  display: table-cell;
  border-right: solid 1px #001f43
}
.personal-office .loans__cell-active__block {
  background: #ffffb2;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 20px 10px 20px 10px;
  margin-top: 20px
}
.personal-office .loans__cell__block {
  background: #e6e6e6;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 20px 10px 20px 10px;
  margin-top: 20px;
  color: #999
}
.personal-office .loans__general-cell-active-even {
  display: table-cell;
  background: #fff8dc;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 20px 10px 20px 10px;
  margin-top: 20px;
  border-right: solid 1px #001f43;
  border-bottom: solid 1px #001f43
}
.personal-office .loans__cell-active-even {
  display: table-cell;
  border-right: solid 1px #001f43
}
.personal-office .loans__cell-active-even__block {
  background: #fff8dc;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 20px 10px 20px 10px;
  margin-top: 20px
}
.personal-office .loans__cell-even__block {
  background: #f0f0f0;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 20px 10px 20px 10px;
  margin-top: 20px;
  color: #aaa
}
.personal-office .loans__pay {
  text-decoration: underline;
  color: #ff4852;
  cursor: pointer
}
.personal-office .loans__number-active {
  text-decoration: underline
}
.personal-office .loans__number {
  color: #999;
  text-decoration: underline
}
.advantages {
  position: relative
}
.advantages__title {
  text-transform: uppercase
}
.advantages__list {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  width: 900px;
  margin: auto
}
.advantages__slider {
  margin-top: 32px;
  position: relative;
  width: 100%;
  margin: auto
}
@media (min-width:1201px) and (max-width:1440px) {
  .advantages__slider {
    margin-top: 32px
  }
}
@media (min-width:1025px) and (max-width:1200px) {
  .advantages__slider {
    margin-top: 32px
  }
}
@media (min-width:971px) and (max-width:1024px) {
  .advantages__slider {
    margin-top: 26px
  }
}
@media (min-width:769px) and (max-width:970px) {
  .advantages__slider {
    margin-top: 26px
  }
}
@media (min-width:641px) and (max-width:768px) {
  .advantages__slider {
    margin-top: 23px
  }
}
@media (min-width:481px) and (max-width:640px) {
  .advantages__slider {
    margin-top: 20px
  }
}
@media (min-width:376px) and (max-width:480px) {
  .advantages__slider {
    margin-top: 16px
  }
}
@media (min-width:376px) and (max-width:375px) {
  .advantages__slider {
    margin-top: 16px
  }
}
.advantages__slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  cursor: pointer;
  width: 24px;
  height: 27px;
  width: 64px;
  height: 64px
}
.advantages__slider-arrow.is-disabled {
  cursor: default;
  opacity: .6
}
.advantages__slider-arrow.m--prod-page {
  width: 57px;
  height: 57px
}
.advantages__slider-arrow.m--next {
  right: 0;
  background-image: url(/i/icons/icon_arrow-round-right.svg)
}
.advantages__slider-arrow.m--prev {
  left: 0;
  background-image: url(/i/icons/icon_arrow-round-left.svg)
}
.advantages__slider-arrow:hover.m--next {
  background-image: url(/i/icons/icon_arrow-round-right_yellow.svg)
}
.advantages__slider-arrow:hover.m--prev {
  background-image: url(/i/icons/icon_arrow-round-left_yellow.svg)
}
.advantages__slider-arrow:active.m--next {
  background-image: url(/i/icons/icon_arrow-round-right_red.svg)
}
.advantages__slider-arrow:active.m--prev {
  background-image: url(/i/icons/icon_arrow-round-left_red.svg)
}
.advantages__item {
  display: inline-block;
  width: 290px
}
.advantages__item:not(:last-child) {
  margin-right: 12px
}
.advantages__card {
  position: relative;
  width: calc(290px - 14px);
  padding: 8px;
  margin: 0 7px 7px 7px;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  box-shadow: 2px 2px 5px rgba(0,0,0,.16);
  border-color: #ff4852;
  height: 300px
}
.advantages__card-icon {
  -o-object-fit: none;
  font-family: "object-fit:none";
  object-fit: none;
  width: 100%;
  height: 50%
}
.advantages__card-title {
  -js-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  white-space: pre-wrap;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900
}
.advantages__card-annotation {
  font-size: 18px;
  font-weight: 600;
  text-align: center
}
@media (max-width:1200px) {
  .advantages__list {
    width: 770px
  }
  .advantages__item {
    width: 246px
  }
  .advantages__card {
    position: relative;
    width: calc(246px - 14px);
    padding: 8px;
    margin: 0 7px 7px 7px;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.16)
  }
  .advantages__card-annotation {
    font-size: 14px
  }
}
@media (max-width:768px) {
  .advantages__slider {
    width: 310px
  }
  .advantages__list {
    width: 246px
  }
  .advantages__item {
    width: 246px;
    margin: 0
  }
  .advantages__card {
    position: relative;
    width: calc(246px - 14px);
    padding: 8px;
    margin: 0 7px 7px 7px;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.16)
  }
  .advantages__card-annotation {
    font-size: 14px
  }
}
.catalog {
  -js-display: flex;
  display: flex;
  justify-content: center
}
.catalog__products {
  width: 824px
}
.catalog__navbar {
  -js-display: flex;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  width: 824px
}
@media (max-width:1200px) {
  .catalog__products {
    width: 524px
  }
  .catalog__navbar {
    width: 524px
  }
}
@media (max-width:640px) {
  .catalog__products {
    width: 248px
  }
  .catalog__navbar {
    width: 248px
  }
}
.form__field {
  margin-bottom: 20px
}
@media (min-width:1201px) and (max-width:1440px) {
  .form__field {
    margin-bottom: 20px
  }
}
@media (min-width:1025px) and (max-width:1200px) {
  .form__field {
    margin-bottom: 20px
  }
}
@media (min-width:971px) and (max-width:1024px) {
  .form__field {
    margin-bottom: 16px
  }
}
@media (min-width:769px) and (max-width:970px) {
  .form__field {
    margin-bottom: 16px
  }
}
@media (min-width:641px) and (max-width:768px) {
  .form__field {
    margin-bottom: 14px
  }
}
@media (min-width:481px) and (max-width:640px) {
  .form__field {
    margin-bottom: 12px
  }
}
@media (min-width:376px) and (max-width:480px) {
  .form__field {
    margin-bottom: 10px
  }
}
@media (min-width:376px) and (max-width:375px) {
  .form__field {
    margin-bottom: 10px
  }
}
.form__label {
  margin-bottom: 4px;
  display: block
}
@media (min-width:1201px) and (max-width:1440px) {
  .form__label {
    margin-bottom: 4px
  }
}
@media (min-width:1025px) and (max-width:1200px) {
  .form__label {
    margin-bottom: 4px
  }
}
@media (min-width:971px) and (max-width:1024px) {
  .form__label {
    margin-bottom: 4px
  }
}
@media (min-width:769px) and (max-width:970px) {
  .form__label {
    margin-bottom: 4px
  }
}
@media (min-width:641px) and (max-width:768px) {
  .form__label {
    margin-bottom: 3px
  }
}
@media (min-width:481px) and (max-width:640px) {
  .form__label {
    margin-bottom: 3px
  }
}
@media (min-width:376px) and (max-width:480px) {
  .form__label {
    margin-bottom: 2px
  }
}
@media (min-width:376px) and (max-width:375px) {
  .form__label {
    margin-bottom: 2px
  }
}
.form__label__field.is-required .form__label::after {
  content: ' *'
}
.form__input input[type=email],
.form__input input[type=tel],
.form__input input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-width: 2px;
  border-style: solid;
  box-shadow: 0 4px 8px -4px rgba(0,0,0,.16);
  cursor: pointer
}
.form__input input[type=email][type=checkbox]:checked,
.form__input input[type=tel][type=checkbox]:checked,
.form__input input[type=text][type=checkbox]:checked {
  background-color: #ff4852;
  border-color: #ff4852;
  background-image: url(/i/icons/icon_checked_white.svg);
  background-repeat: no-repeat;
  background-position: center center
}
.form__input select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  -js-display: flex;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding-left: 8px;
  height: 35px;
  border-width: 3px;
  border-style: solid;
  background-image: url(/i/icons/icon_arrow-down_yellow.svg);
  background-repeat: no-repeat;
  background-position: 95% center;
  box-shadow: 0 4px 8px -4px rgba(0,0,0,.16)
}
.form__input select::-ms-expand {
  display: none
}
.form__input select option[selected] {
  background-color: #fff;
  border-color: #ff4852;
  color: @color-deep-blue
}
.form__input textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-width: 2px;
  border-style: solid;
  box-shadow: 0 4px 8px -4px rgba(0,0,0,.16);
  cursor: pointer
}
.form__input textarea[type=checkbox]:checked {
  background-color: #ff4852;
  border-color: #ff4852;
  background-image: url(/i/icons/icon_checked_white.svg);
  background-repeat: no-repeat;
  background-position: center center
}
.form__remark {
  margin-top: 20px
}
@media (min-width:1201px) and (max-width:1440px) {
  .form__remark {
    margin-top: 20px
  }
}
@media (min-width:1025px) and (max-width:1200px) {
  .form__remark {
    margin-top: 20px
  }
}
@media (min-width:971px) and (max-width:1024px) {
  .form__remark {
    margin-top: 16px
  }
}
@media (min-width:769px) and (max-width:970px) {
  .form__remark {
    margin-top: 16px
  }
}
@media (min-width:641px) and (max-width:768px) {
  .form__remark {
    margin-top: 14px
  }
}
@media (min-width:481px) and (max-width:640px) {
  .form__remark {
    margin-top: 12px
  }
}
@media (min-width:376px) and (max-width:480px) {
  .form__remark {
    margin-top: 10px
  }
}
@media (min-width:376px) and (max-width:375px) {
  .form__remark {
    margin-top: 10px
  }
}
.form__submit {
  margin-top: 20px
}
@media (min-width:1201px) and (max-width:1440px) {
  .form__submit {
    margin-top: 20px
  }
}
@media (min-width:1025px) and (max-width:1200px) {
  .form__submit {
    margin-top: 20px
  }
}
@media (min-width:971px) and (max-width:1024px) {
  .form__submit {
    margin-top: 16px
  }
}
@media (min-width:769px) and (max-width:970px) {
  .form__submit {
    margin-top: 16px
  }
}
@media (min-width:641px) and (max-width:768px) {
  .form__submit {
    margin-top: 14px
  }
}
@media (min-width:481px) and (max-width:640px) {
  .form__submit {
    margin-top: 12px
  }
}
@media (min-width:376px) and (max-width:480px) {
  .form__submit {
    margin-top: 10px
  }
}
@media (min-width:376px) and (max-width:375px) {
  .form__submit {
    margin-top: 10px
  }
}
.footer-menu__item {
  -js-display: flex;
  display: flex;
  align-items: center;
  height: 28px
}
.footer-menu__item-link {
  color: #001f43;
  text-decoration: none
}
.footer-menu__item-link:hover {
  color: #001f43
}
.footer-menu__item-link:active {
  background: inherit
}
.footer-menu__item:not(:last-child) {
  margin-right: 16px
}
.footer-menu.m--desktop {
  -js-display: flex;
  display: flex
}
.footer-menu.m--mobile {
  display: none
}
@media (max-width:970px) {
  .footer-menu.m--desktop {
    display: block;
    -moz-column-count: 2;
    column-count: 2;
    -moz-column-width: 150px;
    column-width: 150px
  }
}
@media (min-width:971px) {
  .footer-menu__item:not(:last-child) {
    margin-right: 36px
  }
}
@media (max-width:640px) {
  .footer-menu.m--desktop {
    display: none
  }
  .footer-menu.m--mobile {
    -js-display: flex;
    display: flex;
    justify-content: space-between;
    width: 100%
  }
}
.lombard-item {
  -js-display: flex;
  display: flex;
  flex-direction: column
}
.lombard-item__content {
  -js-display: flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-bottom: 1px solid #001f43;
  padding: 32px
}
.lombard-item__content.m--lombard {
  border-top: 1px solid #001f43;
  flex-direction: column
}
.lombard-item__info {
  -js-display: flex;
  display: flex;
  flex-direction: column
}
.lombard-item__services {
  -js-display: flex;
  display: flex;
  flex-flow: row wrap
}
.lombard-item__service {
  color: #001f43;
  text-decoration: none;
  -js-display: flex;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600
}
.lombard-item__service:hover {
  color: #ff4852
}
.lombard-item__service:active {
  background: inherit
}
.lombard-item__service:not(:last-child) {
  margin-right: 28px
}
.lombard-item__hours {
  -js-display: flex;
  display: flex;
  flex-flow: row nowrap;
  font-size: 18px;
  line-height: 1.4;
  position: relative;
  padding-left: 52px;
  margin-top: 32px
}
.lombard-item__hours-lunch {
  margin-left: 28px
}
.lombard-item__hours::before {
  content: '';
  position: absolute;
  left: 0;
  width: 36px;
  height: 36px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat
}
.lombard-item__hours.m--watch::before {
  background-image: url(/i/icons/icon_watch_deep-blue.svg)
}
.lombard-item__icon {
  margin-right: 12px;
  width: 40px;
  height: auto;
  -o-object-fit: scale-down;
  font-family: "object-fit:scale-down;object-position:center";
  object-fit: scale-down;
  -o-object-position: center;
  object-position: center
}
.lombard-item__stocks {
  -js-display: flex;
  display: flex;
  flex-direction: column
}
.lombard-item__stocks.m--lombard {
  width: 100%;
  margin-top: 32px;
  padding-top: 32px;
  border-top: 1px solid #001f43
}
.lombard-item__stocks.m--lombard-cat,
.lombard-item__stocks.m--news-page,
.lombard-item__stocks.m--stock-page {
  width: 300px;
  min-width: 300px
}
@media (max-width:1200px) {
  .lombard-item__content {
    flex-flow: row wrap
  }
  .lombard-item__stocks.m--lombard-cat,
  .lombard-item__stocks.m--news-page,
  .lombard-item__stocks.m--stock-page {
    width: 100%;
    margin-top: 32px
  }
}
@media (max-width:640px) {
  .lombard-item__content {
    padding-left: 8px;
    padding-right: 8px
  }
  .lombard-item__hours {
    flex-direction: column
  }
  .lombard-item__hours-lunch {
    margin-top: 12px;
    margin-left: 0
  }
  .lombard-item__services {
    flex-direction: column
  }
  .lombard-item__service:not(:last-child) {
    margin-bottom: 20px
  }
}
.lombards__header {
  display: none
}
.lombards__header.m--news-page,
.lombards__header.m--stock-page {
  -js-display: flex;
  display: flex
}
.lombards__list {
  -js-display: flex;
  display: flex;
  flex-direction: column
}
.lombards__list.m--news {
  margin-left: 96px;
  margin-right: 96px
}
@media (min-width:1201px) and (max-width:1440px) {
  .lombards__list.m--news {
    margin-left: 96px
  }
}
@media (min-width:1025px) and (max-width:1200px) {
  .lombards__list.m--news {
    margin-left: 80px
  }
}
@media (min-width:971px) and (max-width:1024px) {
  .lombards__list.m--news {
    margin-left: 72px
  }
}
@media (min-width:769px) and (max-width:970px) {
  .lombards__list.m--news {
    margin-left: 64px
  }
}
@media (min-width:641px) and (max-width:768px) {
  .lombards__list.m--news {
    margin-left: 48px
  }
}
@media (min-width:481px) and (max-width:640px) {
  .lombards__list.m--news {
    margin-left: 48px
  }
}
@media (min-width:376px) and (max-width:480px) {
  .lombards__list.m--news {
    margin-left: 48px
  }
}
@media (min-width:376px) and (max-width:375px) {
  .lombards__list.m--news {
    margin-left: 24px
  }
}
@media (min-width:1201px) and (max-width:1440px) {
  .lombards__list.m--news {
    margin-right: 96px
  }
}
@media (min-width:1025px) and (max-width:1200px) {
  .lombards__list.m--news {
    margin-right: 80px
  }
}
@media (min-width:971px) and (max-width:1024px) {
  .lombards__list.m--news {
    margin-right: 72px
  }
}
@media (min-width:769px) and (max-width:970px) {
  .lombards__list.m--news {
    margin-right: 64px
  }
}
@media (min-width:641px) and (max-width:768px) {
  .lombards__list.m--news {
    margin-right: 48px
  }
}
@media (min-width:481px) and (max-width:640px) {
  .lombards__list.m--news {
    margin-right: 48px
  }
}
@media (min-width:376px) and (max-width:480px) {
  .lombards__list.m--news {
    margin-right: 48px
  }
}
@media (min-width:376px) and (max-width:375px) {
  .lombards__list.m--news {
    margin-right: 24px
  }
}
.lombards__item {
  -js-display: flex;
  display: flex;
  flex-direction: column
}
.lombards__item:not(:first-child) {
  padding-top: 40px
}
.lombards__item-address {
  -js-display: flex;
  display: flex;
  align-items: center;
  flex-flow: row nowrap
}
.lombards__item-title {
  margin-bottom: 0;
  margin-right: 12px;
  text-decoration: underline
}
.lombards__item-link {
  color: #001f43;
  text-decoration: underline;
  position: relative;
  -js-display: inline-flex;
  display: inline-flex;
  align-items: center;
  padding-right: 24px;
  white-space: nowrap
}
.lombards__item-link:hover {
  color: #ff4852
}
.lombards__item-link:active {
  background: inherit
}
.lombards__item-link::before {
  content: '';
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  background-image: url(/i/icons/icon_placemark.svg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat
}
@media (max-width:640px) {
  .lombards__item-address {
    flex-direction: column;
    align-items: flex-start
  }
  .lombards__item-link {
    color: #ff4852;
    margin-top: 12px;
    padding-left: 24px
  }
  .lombards__item-link::before {
    left: 0
  }
}
.modal {
  width: 850px;
  height: 875px;
  padding: 0 40px;
  display: table-cell
}
.modal__outer {
  position: relative
}
.modal__inner {
  position: relative
}
@media (max-width:640px) {
  .modal {
    padding: 0 8px
  }
}
.navbar__list {
  -js-display: flex;
  display: flex;
  align-items: center
}
.navbar__item {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 3px solid #fff226
}
.navbar__item-link {
  -js-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #001f43;
  font-size: 18px;
  line-height: 1;
  font-weight: 600;
  text-decoration: none;
  width: 100%;
  height: 100%
}
.navbar__item-link.is-active {
  color: #fff
}
.navbar__item.is-active {
  border: none;
  background-color: #ff4852
}
.navbar__item:not(:last-child) {
  margin-right: 20px
}
.news {
  -js-display: flex;
  display: flex;
  flex-direction: column;
  width: 37%;
  order: 1
}
.news__header {
  text-transform: uppercase
}
.news__header.m--stocks-news-page {
  display: none
}
.news__link {
  color: #001f43;
  text-decoration: none
}
.news__link:hover {
  color: #001f43
}
.news__link:active {
  background: inherit
}
.news__navbar {
  -js-display: flex;
  display: flex;
  justify-content: center;
  margin-top: 40px
}
.news__item {
  position: relative;
  -js-display: flex;
  display: flex;
  flex-flow: row wrap;
  max-height: 310px
}
.news__item-preview {
  margin-top: 8px;
  font: 300 18px/1.4 'Source Sans Pro',sans-serif;
  color: #001f43
}
@media (min-width:1201px) and (max-width:1440px) {
  .news__item-preview {
    margin-top: 8px
  }
}
@media (min-width:1025px) and (max-width:1200px) {
  .news__item-preview {
    margin-top: 8px
  }
}
@media (min-width:971px) and (max-width:1024px) {
  .news__item-preview {
    margin-top: 7px
  }
}
@media (min-width:769px) and (max-width:970px) {
  .news__item-preview {
    margin-top: 7px
  }
}
@media (min-width:641px) and (max-width:768px) {
  .news__item-preview {
    margin-top: 6px
  }
}
@media (min-width:481px) and (max-width:640px) {
  .news__item-preview {
    margin-top: 5px
  }
}
@media (min-width:376px) and (max-width:480px) {
  .news__item-preview {
    margin-top: 4px
  }
}
@media (min-width:376px) and (max-width:375px) {
  .news__item-preview {
    margin-top: 4px
  }
}
.news__item-preview h1:not(.nostyle) {
  margin-bottom: 48px;
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase
}
@media (min-width:1201px) and (max-width:1440px) {
  .news__item-preview h1:not(.nostyle) {
    margin-bottom: 48px
  }
}
@media (min-width:1025px) and (max-width:1200px) {
  .news__item-preview h1:not(.nostyle) {
    margin-bottom: 48px
  }
}
@media (min-width:971px) and (max-width:1024px) {
  .news__item-preview h1:not(.nostyle) {
    margin-bottom: 39px
  }
}
@media (min-width:769px) and (max-width:970px) {
  .news__item-preview h1:not(.nostyle) {
    margin-bottom: 39px
  }
}
@media (min-width:641px) and (max-width:768px) {
  .news__item-preview h1:not(.nostyle) {
    margin-bottom: 34px
  }
}
@media (min-width:481px) and (max-width:640px) {
  .news__item-preview h1:not(.nostyle) {
    margin-bottom: 29px
  }
}
@media (min-width:376px) and (max-width:480px) {
  .news__item-preview h1:not(.nostyle) {
    margin-bottom: 24px
  }
}
@media (min-width:376px) and (max-width:375px) {
  .news__item-preview h1:not(.nostyle) {
    margin-bottom: 24px
  }
}
.news__item-preview h1:not(.nostyle):last-child {
  margin-bottom: 0
}
@media (max-width:1200px) {
  .news__item-preview h1:not(.nostyle) {
    font-size: 35px
  }
}
@media (max-width:768px) {
  .news__item-preview h1:not(.nostyle) {
    font-size: 26px
  }
}
@media (max-width:640px) {
  .news__item-preview h1:not(.nostyle) {
    text-align: center
  }
  .news__item-preview h1:not(.nostyle).m--block-yellow {
    width: 100%;
    height: 90px;
    -js-display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff226;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 40px
  }
}
.news__item-preview h2:not(.nostyle) {
  margin-top: 64px;
  margin-bottom: 32px;
  font-size: 35px;
  font-weight: 700
}
@media (min-width:1201px) and (max-width:1440px) {
  .news__item-preview h2:not(.nostyle) {
    margin-top: 64px
  }
}
@media (min-width:1025px) and (max-width:1200px) {
  .news__item-preview h2:not(.nostyle) {
    margin-top: 64px
  }
}
@media (min-width:971px) and (max-width:1024px) {
  .news__item-preview h2:not(.nostyle) {
    margin-top: 52px
  }
}
@media (min-width:769px) and (max-width:970px) {
  .news__item-preview h2:not(.nostyle) {
    margin-top: 52px
  }
}
@media (min-width:641px) and (max-width:768px) {
  .news__item-preview h2:not(.nostyle) {
    margin-top: 45px
  }
}
@media (min-width:481px) and (max-width:640px) {
  .news__item-preview h2:not(.nostyle) {
    margin-top: 39px
  }
}
@media (min-width:376px) and (max-width:480px) {
  .news__item-preview h2:not(.nostyle) {
    margin-top: 32px
  }
}
@media (min-width:376px) and (max-width:375px) {
  .news__item-preview h2:not(.nostyle) {
    margin-top: 32px
  }
}
@media (min-width:1201px) and (max-width:1440px) {
  .news__item-preview h2:not(.nostyle) {
    margin-bottom: 32px
  }
}
@media (min-width:1025px) and (max-width:1200px) {
  .news__item-preview h2:not(.nostyle) {
    margin-bottom: 32px
  }
}
@media (min-width:971px) and (max-width:1024px) {
  .news__item-preview h2:not(.nostyle) {
    margin-bottom: 26px
  }
}
@media (min-width:769px) and (max-width:970px) {
  .news__item-preview h2:not(.nostyle) {
    margin-bottom: 26px
  }
}
@media (min-width:641px) and (max-width:768px) {
  .news__item-preview h2:not(.nostyle) {
    margin-bottom: 23px
  }
}
@media (min-width:481px) and (max-width:640px) {
  .news__item-preview h2:not(.nostyle) {
    margin-bottom: 20px
  }
}
@media (min-width:376px) and (max-width:480px) {
  .news__item-preview h2:not(.nostyle) {
    margin-bottom: 16px
  }
}
@media (min-width:376px) and (max-width:375px) {
  .news__item-preview h2:not(.nostyle) {
    margin-bottom: 16px
  }
}
.news__item-preview h2:not(.nostyle):first-child {
  margin-top: 0
}
.news__item-preview h2:not(.nostyle):last-child {
  margin-bottom: 0
}
@media (max-width:1200px) {
  .news__item-preview h2:not(.nostyle) {
    font-size: 26px
  }
}
@media (max-width:970px) {
  .news__item-preview h2:not(.nostyle) {
    text-align: center
  }
}
.news__item-preview h3:not(.nostyle) {
  margin-top: 40px;
  margin-bottom: 24px;
  font-size: 26px;
  font-weight: 700
}
@media (min-width:1201px) and (max-width:1440px) {
  .news__item-preview h3:not(.nostyle) {
    margin-top: 40px
  }
}
@media (min-width:1025px) and (max-width:1200px) {
  .news__item-preview h3:not(.nostyle) {
    margin-top: 40px
  }
}
@media (min-width:971px) and (max-width:1024px) {
  .news__item-preview h3:not(.nostyle) {
    margin-top: 32px
  }
}
@media (min-width:769px) and (max-width:970px) {
  .news__item-preview h3:not(.nostyle) {
    margin-top: 32px
  }
}
@media (min-width:641px) and (max-width:768px) {
  .news__item-preview h3:not(.nostyle) {
    margin-top: 28px
  }
}
@media (min-width:481px) and (max-width:640px) {
  .news__item-preview h3:not(.nostyle) {
    margin-top: 24px
  }
}
@media (min-width:376px) and (max-width:480px) {
  .news__item-preview h3:not(.nostyle) {
    margin-top: 20px
  }
}
@media (min-width:376px) and (max-width:375px) {
  .news__item-preview h3:not(.nostyle) {
    margin-top: 20px
  }
}
@media (min-width:1201px) and (max-width:1440px) {
  .news__item-preview h3:not(.nostyle) {
    margin-bottom: 24px
  }
}
@media (min-width:1025px) and (max-width:1200px) {
  .news__item-preview h3:not(.nostyle) {
    margin-bottom: 24px
  }
}
@media (min-width:971px) and (max-width:1024px) {
  .news__item-preview h3:not(.nostyle) {
    margin-bottom: 20px
  }
}
@media (min-width:769px) and (max-width:970px) {
  .news__item-preview h3:not(.nostyle) {
    margin-bottom: 20px
  }
}
@media (min-width:641px) and (max-width:768px) {
  .news__item-preview h3:not(.nostyle) {
    margin-bottom: 17px
  }
}
@media (min-width:481px) and (max-width:640px) {
  .news__item-preview h3:not(.nostyle) {
    margin-bottom: 15px
  }
}
@media (min-width:376px) and (max-width:480px) {
  .news__item-preview h3:not(.nostyle) {
    margin-bottom: 12px
  }
}
@media (min-width:376px) and (max-width:375px) {
  .news__item-preview h3:not(.nostyle) {
    margin-bottom: 12px
  }
}
.news__item-preview h3:not(.nostyle):first-child {
  margin-top: 0
}
.news__item-preview h3:not(.nostyle):last-child {
  margin-bottom: 0
}
@media (max-width:1200px) {
  .news__item-preview h3:not(.nostyle) {
    font-size: 20px
  }
}
.news__item-preview h4:not(.nostyle) {
  font-size: 20px;
  font-weight: 700
}
.news__item-preview h4:not(.nostyle):first-child {
  margin-top: 0
}
.news__item-preview h4:not(.nostyle):last-child {
  margin-bottom: 0
}
@media (max-width:1200px) {
  .news__item-preview h4:not(.nostyle) {
    font-size: 16px
  }
}
.news__item-preview p:not(.nostyle) {
  margin-bottom: 8px
}
.news__item-preview p:not(.nostyle):first-child {
  margin-top: 0
}
.news__item-preview p:not(.nostyle):last-child {
  margin-bottom: 0
}
.news__item-preview ul:not(.nostyle) {
  margin-top: 12px;
  margin-bottom: 12px
}
.news__item-preview ul:not(.nostyle) li {
  list-style: disc;
  list-style-position: outside;
  padding-left: 8px;
  margin-left: 16px
}
.news__item-preview ul:not(.nostyle) li:not(:last-child) {
  margin-bottom: 8px
}
.news__item-preview ol:not(.nostyle) {
  margin-top: 12px;
  margin-bottom: 12px
}
.news__item-preview ol:not(.nostyle) li {
  list-style: decimal;
  list-style-position: outside;
  padding-left: 8px;
  margin-left: 16px
}
.news__item-preview ol:not(.nostyle) li:not(:last-child) {
  margin-bottom: 8px
}
.news__item-preview a:not(.nostyle) {
  color: #001f43;
  text-decoration: none
}
.news__item-preview a:not(.nostyle):hover {
  color: #ff4852
}
.news__item-preview a:not(.nostyle):active {
  background: inherit
}
.news__item-preview table:not(.nostyle) {
  width: 100%
}
.news__item-preview table:not(.nostyle) td,
.news__item-preview table:not(.nostyle) th {
  padding: 6px 8px;
  font-size: 16px;
  text-align: left;
  vertical-align: middle
}
.news__item-preview table:not(.nostyle) th,
.news__item-preview table:not(.nostyle) thead td {
  border-bottom: 2px solid #001f43;
  font-weight: 700
}
.news__item-preview table:not(.nostyle) tbody td {
  border-bottom: 1px solid #001f43
}
.news__item-preview b:not(.nostyle),
.news__item-preview strong:not(.nostyle) {
  font-weight: 700
}
.news__item-preview em:not(.nostyle),
.news__item-preview i:not(.nostyle) {
  font-style: italic
}
.news__item-preview ins:not(.nostyle),
.news__item-preview u:not(.nostyle) {
  text-decoration: underline
}
.news__item-preview del:not(.nostyle),
.news__item-preview strike:not(.nostyle) {
  text-decoration: line-through
}
@media (max-width:1200px) {
  .news__item-preview {
    font-size: 16px
  }
}
@media (max-width:768px) {
  .news__item-preview {
    font-size: 14px
  }
}
.news__item-more {
  margin-top: 20px;
  -js-display: flex;
  display: flex;
  justify-content: center;
  width: 100%
}
@media (min-width:1201px) and (max-width:1440px) {
  .news__item-more {
    margin-top: 20px
  }
}
@media (min-width:1025px) and (max-width:1200px) {
  .news__item-more {
    margin-top: 20px
  }
}
@media (min-width:971px) and (max-width:1024px) {
  .news__item-more {
    margin-top: 16px
  }
}
@media (min-width:769px) and (max-width:970px) {
  .news__item-more {
    margin-top: 16px
  }
}
@media (min-width:641px) and (max-width:768px) {
  .news__item-more {
    margin-top: 14px
  }
}
@media (min-width:481px) and (max-width:640px) {
  .news__item-more {
    margin-top: 12px
  }
}
@media (min-width:376px) and (max-width:480px) {
  .news__item-more {
    margin-top: 10px
  }
}
@media (min-width:376px) and (max-width:375px) {
  .news__item-more {
    margin-top: 10px
  }
}
.news__item-link {
  -js-display: inline-flex;
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  width: 136px;
  padding: 8px 0;
  background-color: #fff226;
  border-color: #fff226;
  color: #001f43
}
.news__item-link:disabled {
  cursor: not-allowed
}
.news__item-link:hover:not(:disabled) {
  background-color: #ff4852;
  border-color: #ff4852;
  color: #fff
}
.news__item:not(:first-child) {
  margin-top: 40px
}
@media (min-width:971px) {
  .news__list.m--stocks-news-page {
    margin-top: 0
  }
}
@media (max-width:970px) {
  .news {
    width: 100%
  }
}
@media (max-width:640px) {
  .news__header.m--stocks-news-page {
    display: block;
    text-align: left
  }
}
.product-info__content {
  position: relative;
  width: 100%;
  padding-left: 8px;
  text-align: left
}
.product-info__content-label {
  margin-bottom: 24px
}
.product-info__price {
  position: relative;
  background-color: #fff226;
  -js-display: inline-flex;
  display: inline-flex;
  font-size: 35px;
  font-weight: 700;
  padding: 8px
}
.product-info__price span {
  margin: 0 4px
}
.product-info__price ins {
  text-decoration: none
}
.product-info__booking {
  position: relative;
  -js-display: flex;
  display: flex;
  align-items: center;
  font-weight: 600;
  line-height: 20px;
  text-align: left
}
.product-info__booking-link {
  color: #001f43;
  text-decoration: none
}
.product-info__booking-link:hover {
  color: #ff4852
}
.product-info__booking-link:active {
  background: inherit
}
.product-info__booking-label {
  position: relative
}
.product-info__booking-label.m--phone {
  padding-left: 28px;
  padding-right: 8px
}
.product-info__booking-label::before {
  content: '';
  position: absolute;
  left: 0;
  width: 24px;
  height: 20px;
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat
}
.product-info__booking-label.m--phone::before {
  background-image: url(/i/icons/icon_phone.svg)
}
@media (max-width:768px) {
  .product-info__booking {
    flex-direction: column;
    width: 100%
  }
  .product-info__booking-label.m--phone {
    padding: 0
  }
  .product-info__booking-label.m--phone::before {
    display: none
  }
  .product-info__booking-value {
    padding-top: 4px
  }
  .product-info__booking-link {
    position: relative
  }
  .product-info__booking-link.m--phone {
    padding-left: 28px
  }
  .product-info__booking-link:hover.m--phone::before {
    background-image: url(/i/icons/icon_phone_red.svg)
  }
  .product-info__booking-link::before {
    content: '';
    position: absolute;
    left: 0;
    width: 24px;
    height: 20px;
    background-position: 0 0;
    background-size: contain;
    background-repeat: no-repeat
  }
  .product-info__booking-link.m--phone::before {
    background-image: url(/i/icons/icon_phone.svg)
  }
}
@media (max-width:640px) {
  .product-info__price {
    margin: auto
  }
}
.products {
  position: relative
}
.products__title {
  text-transform: uppercase
}
.products__list {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  width: 1080px;
  margin: auto
}
.products__link {
  color: #001f43;
  text-decoration: none
}
.products__link:hover {
  color: #001f43
}
.products__link:active {
  background: inherit
}
.products__slider {
  margin-top: 32px;
  position: relative;
  width: 100%;
  margin: auto
}
@media (min-width:1201px) and (max-width:1440px) {
  .products__slider {
    margin-top: 32px
  }
}
@media (min-width:1025px) and (max-width:1200px) {
  .products__slider {
    margin-top: 32px
  }
}
@media (min-width:971px) and (max-width:1024px) {
  .products__slider {
    margin-top: 26px
  }
}
@media (min-width:769px) and (max-width:970px) {
  .products__slider {
    margin-top: 26px
  }
}
@media (min-width:641px) and (max-width:768px) {
  .products__slider {
    margin-top: 23px
  }
}
@media (min-width:481px) and (max-width:640px) {
  .products__slider {
    margin-top: 20px
  }
}
@media (min-width:376px) and (max-width:480px) {
  .products__slider {
    margin-top: 16px
  }
}
@media (min-width:376px) and (max-width:375px) {
  .products__slider {
    margin-top: 16px
  }
}
.products__slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  cursor: pointer;
  width: 24px;
  height: 27px
}
.products__slider-arrow.is-disabled {
  cursor: default;
  opacity: .6
}
.products__slider-arrow.m--next {
  right: 0;
  background-image: url(/i/icons/icon_arrow-right.svg)
}
.products__slider-arrow.m--prev {
  left: 0;
  background-image: url(/i/icons/icon_arrow-left.svg)
}
.products__slider-arrow:hover.m--next {
  background-image: url(/i/icons/icon_arrow-right_yellow.svg)
}
.products__slider-arrow:hover.m--prev {
  background-image: url(/i/icons/icon_arrow-left_yellow.svg)
}
.products__slider-arrow:active.m--next {
  background-image: url(/i/icons/icon_arrow-right_red.svg)
}
.products__slider-arrow:active.m--prev {
  background-image: url(/i/icons/icon_arrow-left_red.svg)
}
.products__item {
  display: inline-block;
  width: 254px
}
.products__item:not(:last-child) {
  margin-right: 16px
}
.products__item.m--catalog:nth-child(3n+3) {
  margin-right: 0
}
.products__item.m--catalog:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
  margin-top: 36px
}
.products__item.m--catalog:not(:nth-child(3n+3)) {
  margin-right: 28px
}
.products__card {
  position: relative;
  width: calc(254px - 14px);
  padding: 8px;
  margin: 0 7px 7px 7px;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  box-shadow: 2px 2px 5px rgba(0,0,0,.16);
  border-color: #fff226;
  padding: 0;
  max-height: 400px
}
.products__card-image {
  -o-object-fit: none;
  font-family: "object-fit:none";
  object-fit: none;
  width: 100%;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: -1;
  display: inline-block;
  position: relative
}
.products__card-mask {
  display: block;
  height: 100%;
  box-shadow: inset 0 -20px 20px 0 #fff
}
.products__card-description {
  height: 150px;
  padding: 8px;
  position: relative
}
.products__card-title {
  font-size: 18px;
  text-transform: uppercase;
  width: 100%;
  height: 50px;
  overflow: hidden;
  white-space: pre-wrap;
  -js-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center
}
.products__card-price {
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: 100%
}
.products__card-price span {
  margin: 0 4px
}
.products__card-price ins {
  text-decoration: none
}
.products__card-more {
  margin-top: 8px;
  display: block;
  position: absolute;
  bottom: 12px;
  left: 0;
  right: 0;
  text-align: center;
  width: 100%
}
@media (min-width:1201px) and (max-width:1440px) {
  .products__card-more {
    margin-top: 8px
  }
}
@media (min-width:1025px) and (max-width:1200px) {
  .products__card-more {
    margin-top: 8px
  }
}
@media (min-width:971px) and (max-width:1024px) {
  .products__card-more {
    margin-top: 7px
  }
}
@media (min-width:769px) and (max-width:970px) {
  .products__card-more {
    margin-top: 7px
  }
}
@media (min-width:641px) and (max-width:768px) {
  .products__card-more {
    margin-top: 6px
  }
}
@media (min-width:481px) and (max-width:640px) {
  .products__card-more {
    margin-top: 5px
  }
}
@media (min-width:376px) and (max-width:480px) {
  .products__card-more {
    margin-top: 4px
  }
}
@media (min-width:376px) and (max-width:375px) {
  .products__card-more {
    margin-top: 4px
  }
}
.products__card-link {
  -js-display: inline-flex;
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  width: 136px;
  padding: 8px 0;
  background-color: #fff;
  border-color: #fff226;
  color: #001f43;
  box-shadow: none;
  font-size: 18px
}
.products__card-link:disabled {
  cursor: not-allowed
}
.products__card-link:hover:not(:disabled) {
  background-color: #fff226;
  border-color: #fff226;
  color: #001f43
}
.products__card-link:active {
  background-color: #ff4852;
  border-color: #ff4852;
  color: #fff
}
.products__similar {
  margin-top: 40px
}
@media (min-width:1201px) {
  .products__slider-arrow {
    display: none
  }
}
@media (min-width:1025px) {
  .products__slider-arrow.m--prod-page {
    width: 64px;
    height: 64px;
    display: block
  }
  .products__slider-arrow.m--prod-page.m--prod-page {
    width: 57px;
    height: 57px
  }
  .products__slider-arrow.m--prod-page.m--next {
    right: 0;
    background-image: url(/i/icons/icon_arrow-round-right.svg)
  }
  .products__slider-arrow.m--prod-page.m--prev {
    left: 0;
    background-image: url(/i/icons/icon_arrow-round-left.svg)
  }
  .products__slider-arrow.m--prod-page:hover.m--next {
    background-image: url(/i/icons/icon_arrow-round-right_yellow.svg)
  }
  .products__slider-arrow.m--prod-page:hover.m--prev {
    background-image: url(/i/icons/icon_arrow-round-left_yellow.svg)
  }
  .products__slider-arrow.m--prod-page:active.m--next {
    background-image: url(/i/icons/icon_arrow-round-right_red.svg)
  }
  .products__slider-arrow.m--prod-page:active.m--prev {
    background-image: url(/i/icons/icon_arrow-round-left_red.svg)
  }
}
@media (min-width:1201px) and (max-width:1440px) {
  .products__list.m--prod-page {
    width: 770px
  }
  .products__item.m--prod-page {
    width: 246px
  }
  .products__item.m--prod-page:not(:last-child) {
    margin-right: 12px
  }
  .products__card.m--prod-page {
    position: relative;
    width: calc(246px - 14px);
    padding: 8px;
    margin: 0 7px 7px 7px;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.16);
    padding: 0
  }
}
@media (min-width:1025px) and (max-width:1200px) {
  .products__list {
    width: 770px
  }
}
@media (max-width:1200px) {
  .products__item {
    width: 246px
  }
  .products__item:not(:last-child) {
    margin-right: 12px
  }
  .products__item.m--catalog:nth-child(2n+2) {
    margin-right: 0
  }
  .products__item.m--catalog:not(:nth-child(1)):not(:nth-child(2)) {
    margin-top: 36px
  }
  .products__item.m--catalog:not(:nth-child(2n+2)) {
    margin-right: 28px
  }
  .products__card {
    position: relative;
    width: calc(246px - 14px);
    padding: 8px;
    margin: 0 7px 7px 7px;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.16);
    padding: 0
  }
}
@media (min-width:971px) and (max-width:1024px) {
  .products__slider {
    width: 572px
  }
  .products__list {
    width: 508px
  }
}
@media (max-width:970px) {
  .products__slider {
    width: 90%
  }
  .products__list {
    width: 508px
  }
}
@media (max-width:768px) {
  .products__slider {
    width: 310px
  }
  .products__list {
    width: 246px
  }
  .products__item {
    margin: 0
  }
  .products__item.m--catalog {
    margin-right: 0
  }
  .products__item.m--catalog:not(:nth-child(1)) {
    margin-top: 36px
  }
}
