@media (max-width:1024px) {
  .advantages__slider-arrow {
    width: 57px;
    height: 57px
  }
  .advantages__slider {
    width: 572px
  }
  .advantages__slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    cursor: pointer;
    width: 24px;
    height: 27px
  }
  .advantages__slider-arrow.is-disabled {
    cursor: default;
    opacity: .6
  }
  .advantages__slider-arrow.m--next {
    right: 0;
    background-image: url(/i/icons/icon_arrow-right.svg)
  }
  .advantages__slider-arrow.m--prev {
    left: 0;
    background-image: url(/i/icons/icon_arrow-left.svg)
  }
  .advantages__slider-arrow:hover.m--next {
    background-image: url(/i/icons/icon_arrow-right_yellow.svg)
  }
  .advantages__slider-arrow:hover.m--prev {
    background-image: url(/i/icons/icon_arrow-left_yellow.svg)
  }
  .advantages__slider-arrow:active.m--next {
    background-image: url(/i/icons/icon_arrow-right_red.svg)
  }
  .advantages__slider-arrow:active.m--prev {
    background-image: url(/i/icons/icon_arrow-left_red.svg)
  }
  .advantages__list {
    width: 508px
  }
  .advantages__item {
    width: 246px
  }
  .advantages__card {
    position: relative;
    width: calc(246px - 14px);
    padding: 8px;
    margin: 0 7px 7px 7px;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.16)
  }
  .lombards__item-address {
    justify-content: space-between
  }
  .product-info__price {
    font-size: 26px
  }
    .products__slider-arrow.m--prod-page {
      width: 57px;
      height: 57px
    }
}