.loans {

	}
	
.loans__paragraph {
        margin-bottom: 48px;
      }
	
.loans__h1yellow {
		background: #fff226;
		display: inline-block;
	}
	
.loans__table {
		display: table;
		width: 100%;
		border-left: solid 1px #001f43;
	}
	
.loans__row {
		display: table-row;
	}
	
.loans__general-cell-active {
		display: table-cell;
		background: #FFFFB2;
		text-align: center;
		font-weight: bold;
		letter-spacing: 1px;
		padding: 20px 10px 20px 10px;
		margin-top: 20px;
		border-right: solid 1px #001f43;
		border-bottom: solid 1px #001f43;
	}
	
.loans__general-cell {
		display: table-cell;
		background: rgb(230,230,230);
		text-align: center;
		font-weight: bold;
		letter-spacing: 1px;
		padding: 20px 10px 20px 10px;
		margin-top: 20px;
		border-right: solid 1px #001f43;
		border-bottom: solid 1px #001f43;
	}
	
.loans__cell-active {
		display: table-cell;
		border-right: solid 1px #001f43;
	}

.loans__cell-active__block {
		background: #FFFFB2;
		text-align: center;
		font-weight: bold;
		letter-spacing: 1px;
		padding: 20px 10px 20px 10px;
		margin-top: 20px;
	}
	
.loans__cell__block {
		background: rgb(230,230,230);
		text-align: center;
		font-weight: bold;
		letter-spacing: 1px;
		padding: 20px 10px 20px 10px;
		margin-top: 20px;
		color: #999;
	}
	
.loans__general-cell-active-even {
		display: table-cell;
		background: #FFF8DC;
		text-align: center;
		font-weight: bold;
		letter-spacing: 1px;
		padding: 20px 10px 20px 10px;
		margin-top: 20px;
		border-right: solid 1px #001f43;
		border-bottom: solid 1px #001f43;
	}
	
.loans__general-cell-even {
		display: table-cell;
		background: rgb(240,240,240);
		text-align: center;
		font-weight: bold;
		letter-spacing: 1px;
		padding: 20px 10px 20px 10px;
		margin-top: 20px;
		border-right: solid 1px #001f43;
		border-bottom: solid 1px #001f43;
	}
	
.loans__cell-active-even {
		display: table-cell;
		border-right: solid 1px #001f43;
	}
	
.loans__cell-active-even__block {
		background: #FFF8DC;
		text-align: center;
		font-weight: bold;
		letter-spacing: 1px;
		padding: 20px 10px 20px 10px;
		margin-top: 20px;
	}
	
.loans__cell-even__block {
		background: rgb(240,240,240);
		text-align: center;
		font-weight: bold;
		letter-spacing: 1px;
		padding: 20px 10px 20px 10px;
		margin-top: 20px;
		color: #aaa;
	}
	
.loans__pay {
		text-decoration: underline;
		color: #ff4852;
		cursor: pointer;
	}
	
.loans__number-active {
		text-decoration: underline;
	}
	
.loans__number {
		color: #999; 
		text-decoration: underline;
	}
	
	
	