.ticket
	{
		width: 100%;
	}
	
.ticket__table
	{
		display: table;
		width: 100%;
		margin-top: 20px;
		background: rgb(230,230,230);
	}
	
.ticket__table-even
	{
		display: table;
		width: 100%;
		margin-top: 20px;
		background: rgb(210,210,210);
	}
	
.ticket__row
	{
		display: table-row;
	}
	
.ticket__cell1
	{
		display: table-cell;
		padding: 5px 0px 5px 20px; 
		width: 40%;
	}
	
.ticket__cell2
	{
		display: table-cell;
		padding: 5px 0px 5px 20px; 
		width: 60%;
	}
	
.ticket__textbold
	{
		font-size: 18px;
		font-weight: 600;
	}
	
.ticket__textnormal
	{
		font-size: 18px;
	}
	

.ticket__property
	{
		margin-top: 30px;
		border-top: solid 1px #001f43;
		padding-top: 30px;
		width: 100%;
		display: block;
	}
	
.ticket__total
	{
		margin: 0 auto;
		width: 40%;
	}
.ticket__total__block
	{
		margin-top: 20px;
		padding: 5px 10px 5px 10px;
		background: rgb(230,230,230);
	}
	
.ticket__propertyh3
	{
		text-align: center;
	}
	
.ticket__property__header
	{
		width: 100%;
	}
	
.ticket__property__block
	{
		margin-top: 20px;
		background: #FFF8DC;
		padding: 5px 10px 5px 10px;
	}
	
.ticket__property__block-even
	{
		margin-top: 20px;
		background: #FFFFB2;
		padding: 5px 10px 5px 10px;
	}
	
.ticket__property__textnormal
	{
		font-size: 18px;
	}
	
.ticket__assessment
	{
		float: right;
		padding-right: 50px;
	}
	
.ticket__rate
	{
		float: right;
		padding-right: 50px;
		font-size: 17px;
		font-weight: bold;
	}
	

.ticket__submit-div
	{
		width: 220px;
		margin: 0 auto;
		margin-top: 30px;
	}
.ticket__submit-a
	{
		margin-top: 20px;
		width: 100%;
		text-align: center;
	}
.ticket__submit
	{
		border-radius: 10px;
		border-style: solid;
		border-width: 3px;
		text-decoration: none;
		text-transform: uppercase;
		cursor: pointer;
		padding: 8px 0 8px 0;
		background-color: #fff;
		border-color: #fff226;
		color: #001f43;
		width: 100%;
		font-size: 18px;
		text-align: center;
	}
.ticket__submit:hover
	{
		background-color: #fff226;
	}
	
	
@media screen and (max-width: 1200px)	{
	.ticket__total
		{
			width: 70%;
		}
}
	
	
@media screen and (max-width: 970px)	{
	.ticket__textbold
		{
			font-size: 15px;
		}
		
	.ticket__textnormal
		{
			font-size: 15px;
		}
	.ticket__property__textnormal
		{
			font-size: 15px;
		}
	.ticket__rate
		{
			font-size: 15px;
			float: none;
			padding: 0;
			padding-left: 10px;
		}
	.ticket__assessment
		{
			display: none;
		}
	.ticket__total
		{
			width: 100%;
		}
}

@media screen and (max-width: 768px)	{
	.ticket__table
		{
			display: block;
		}
	.ticket__row
		{
			display: table;
			width: 100%;
		}
	.ticket__cell1
		{
			display: table-row;
			width: 100%;
		}
		
	.ticket__cell2
		{
			display: table-row;
			width: 100%;
		}
		
	.ticket__textbold
		{
			display: table-cell;
			width: 100%;
			padding: 5px 20px 5px 20px; 
			text-align: center;
		}
		
	.ticket__textnormal
		{
			display: table-cell;
			width: 100%;
			padding: 5px 20px 5px 20px; 
			text-align: center;
		}
}

@media screen and (max-width: 480px)	{
		.ticket__textbold {
			font-size: 13px;
		}
		.ticket__textnormal {
			font-size: 13px;
		}
	}

@media screen and (max-width: 320px)	{
		.ticket__textbold {
			text-align: left;
		}
		.ticket__textnormal {
			text-align: left;
		}
	}

